
-# This is a mega-"form" that is *not* a form in the strictest sense.
-# There is *no* submit button - for one thing. Each checking / unchecking /
-#  selecting triggers an AJAX request to the server. Far leaner approach than 
-# turning the whole thing into a form and submitting masses of data at once
-# 
-# This form lists out *all* specific topics, grouped by broad-topics
-# in *one* 3-column form. Each row in each column represents one 
-# specific topic in the following structure : 
-# 
-#  #syllabi-edit-megaform 
-#    <div class="label large left">Calculus</div>  
-#    <div marker=" {broad_topic_id} "> 
-#      <input type='checkbox'/> 
-#      <div class="label small left">Area under the Curve</div> 
-#      <select> 
-#        <option> 
-#      </select>
-# 
-# The form is rendered in virginal form initially - that is - with none of the
-# checkboxes checked and none of the drop-downs selected. Thereafter information
-# about the syllabi for the last selected course is loaded (via AJAX) and the
-# display updated


- categories = BroadTopic.order(:name).all 

#edit-syllabi-megatable.mapping.form
  #dump
    - categories.each do |category| 
      .label.large.left= "#{category.name}"
      - topics = SpecificTopic.where(:broad_topic_id => category.id).order(:name).all 
      - topics.each do |topic| 
        %div{ :marker => "#{topic.id}" } 
          = nofrills_checkbox
          .label.small.left= "#{topic.name}"
          = drop_down_menu_for :difficulty, :float => :right, :disabled => true,
                               :include_blank => false
  #first.column.left 
  #second.column.left
