
#macro-search-form.full-width.left
  %legend
    %span.target= "start here"
    %span.operation= "choose subject, class & then the topics" 
  .search-form
    = form_tag 'teacher/applicable_macros', :remote => true, :method => :get do |f|
      .search-parameters.full-width
        = drop_down_menu_for :subjects, :include_blank => false
        = drop_down_menu_for :klasses, :include_blank => false
        = submit_tag 'submit', :class => 'no-style right'
      .search-results.purgeable
        -# an accordion is added here on-the-fly by jQuery
