
#n-old-browser.modal.regular.hide.fade.row-fluid{ data: { :autohide => 15000 } }
  .span3
    = image_tag 'notifications/old-browser.png', class: 'big-icon'
  .span8
    %p.title.underline= "Old Browser?"
    %p
      For a seamless experience, we recommend you switch to one of the browsers below 
      %ul
        %li= "Firefox (version 3.5+)"
        %li= "Google Chrome"
        %li= "Internet Explorer (version 9+)"
        %li= "Safari (version 5.1+)"

