
#n-old-browser.modal.regular.hide.fade.row-fluid{ :data => { :autohide => 15000 } }
  .span3
    = image_tag 'notifications/old-browser.png', :class => 'big-icon'
  .span8
    %p.title= "Old Browser?"
    %p
      Our browsers do not support all the features that we require
    %p
      And so, we recommend the following
      %ul
        %li= "Firefox (version 3.5+)"
        %li= "Google Chrome"
        %li= "Internet Explorer (version 9+)"
        %li= "Safari (version 5.1+)"
