
-# admin is a boolean variable that comes from the layout file 

%ul.dropdown-menu.dropdown-inverse#admin-wb{ role: :menu }
  %li.dropdown-submenu
    = simple_link for: 'Pending Work', icon: 'icon-time'
    %ul.dropdown-menu
      %li
        = simple_link for: 'Resolve Disputes', id: 'lnk-wb-disputes', icon: 'icon-pencil'

      - if me.internal
        %li
          = simple_link for: 'Tag Questions', id: 'lnk-wb-tagging', icon: 'icon-tag'
        %li
          = simple_link for: 'Typeset Suggestions', id: 'lnk-wb-typeset', icon: 'icon-font'
        %li
          = simple_link for: 'Resolve Scans', id: 'lnk-wb-resolve', icon: 'icon-search'
        %li
          = simple_link for: 'Add Videos', id: 'lnk-wb-add-videos', icon: 'icon-facetime-video'

  - if me.live?
    - if me.internal 
      %li
        = simple_link for: 'Audit Questions', id: 'lnk-wb-audit', icon: 'icon-search'
      %li
        = simple_link for: 'Block DB Slots', id: 'lnk-wb-blockdb', icon: 'icon-lock'
      %li
        = simple_link for: 'My Apprentices', id: 'lnk-wb-apprentices', icon: 'icon-user'
      %li
        = simple_link for: 'Receive Scans', id: 'lnk-wb-receive', icon: 'icon-download'
    - if admin
      %li
        = simple_link for: 'Prob. of the Day', id: 'lnk-add-puzzle', icon: 'icon-question-sign'
      %li
        = simple_link for: 'Add Topics', id: 'lnk-mng-topics', icon: 'icon-plus-sign'
      %li
        = simple_link for: 'Add Examiner', id: 'lnk-add-examiner', icon: 'icon-user'
      %li
        = simple_link for: 'Rubrics', id: 'lnk-def-rubric', icon: 'icon-star-empty'

