
#contactus.modal.hide.fade

  .modal-header
    %h3= "Hello! Thank you for taking interest Gradians.com"
  .modal-body
    #formblurb.form-horizontal
      %h4= "Tell us how to reach you and someone from our team will"
      %br
      %form{ :id => "theform",  :action => "welcome/contactus", :method => :post, "data-remote" => "true" } 
        .control-group
          .control-label{ :for => :inputName }= "Name"
          .controls 
            %input.input-long{ :type => :text, :id => :inputName , :name => "contact_form[name]"}
        .control-group
          .control-label{ :for => :inputEmail }= "eMail"
          .controls 
            %input.input-long{ :type => :email, :id => :inputEmail , :name => "contact_form[email]"}
        .control-group
          .control-label{ :for => :inputOrg }= "Organisation"
          .controls 
            %input.input-long{ :type => :text, :id => :inputOrg , :name => "contact_form[org]"}
        .control-group
          .control-label{ :for => :inputMessage }= "Message/Question"
          .controls 
            %textarea{ :rows => 8 , :cols => 72 , :name => "contact_form[text]" }
        .control-group
          .controls
            %button.btn.btn-info{ :type => :reset }= "Clear"
            %button.btn.btn-primary{ :type => :submit }= "Submit"

    #ackblurb{ :style => "display: none" }
      %h4= "Thanks chief, we got it!"

  .modal-footer

