- account = Account.new

#m-enrollment-confirm.modal.fade.regular.row-fluid{ :role => :dialog }
  .span2
    = image_tag 'notifications/id-card.png', :class => 'big-icon'
  .span8
    %p.title.underline= "Confirm Name"
    %p
      Select your name from the list and Register 
    %p
      = simple_form_for account, :url => claim_account_path, :validate => true,       :defaults => { :required => false } do |f|
        #sk-confirm-identity
        #reg-fields.push-down{ :disabled => true }
          = f.input :email
          = f.input :password
          %button.btn.btn-large.btn-primary.pull-right{ :id => 'btn-enroll-me', :disabled => true, :type => :submit}= "Register"

