
#register_student.modal.hide.fade

  .modal-header
    %h3= "Hello! Thank you for taking interest Gradians.com"
  .modal-body
    #formblurb.form-horizontal
      %h4= "Tell us how to reach you and someone from our team will"
      %br
      %form{ :id => "studentform",  :action => "welcome/register_student", :method => :post, "data-remote" => "true" } 
        .control-group.error
          .control-label{ :for => :inputName }= "Name"
          .controls 
            %input.input-long.required{ :type => :text, :id => :inputName , :name => "studentform[name]"}
        .control-group.error
          .control-label{ :for => :inputEmail }= "eMail"
          .controls 
            %input.input-long{ :type => :email, :id => :inputEmail , :name => "studentform[email]"}
        .control-group.error
          .control-label{ :for => :inputGradelevel }= "Grade Level (9 - 12)"
          .controls 
            %input.input-long{ :type => :text, :id => :inputGradelevel , :name => "studentform[gradelevel]"}
        .control-group.error
          .control-label{ :for => :inputSchool }= "School"
          .controls 
            %input.input-long{ :type => :text, :id => :inputSchool , :name => "studentform[school]"}
        .control-group.error
          .control-label{ :for => :inputCountry }= "Country"
          .controls 
            %input.input-long{ :type => :text, :id => :inputCountry , :name => "studentform[country]"}
        .control-group
          .controls
            %button.btn.btn-info{ :id => "nobtn", :type => :reset }= "Thanks, another time"
            %button.btn.btn-primary{ :id => "yesbtn", :type => :submit }= "Yaay, sign me up!"

    #ackblurb{ :style => "display: none" }
      %h4= "Thanks chief, we got it!"

  .modal-footer

#register_teacher.modal.hide.fade

  .modal-header
    %h3= "Hello! Thank you for taking interest Gradians.com"
  .modal-body
    #formblurb.form-horizontal
      %h4= "Tell us how to reach you and someone from our team will"
      %br
      %form{ :id => "teacherform",  :action => "welcome/register_teacher", :method => :post, "data-remote" => "true" } 
        .control-group
          .control-label{ :for => :inputName }= "Name"
          .controls 
            %input.input-long.required{ :type => :text, :id => :inputName , :name => "contact_form[name]"}
        .control-group
          .control-label{ :for => :inputEmail }= "eMail"
          .controls 
            %input.input-long{ :type => :email, :id => :inputEmail , :name => "contact_form[email]"}
        .control-group
          .control-label{ :for => :inputOrg }= "Organisation"
          .controls 
            %input.input-long{ :type => :text, :id => :inputOrg , :name => "contact_form[org]"}
        .control-group
          .control-label{ :for => :inputMessage }= "Message/Question"
          .controls 
            %textarea{ :rows => 8 , :cols => 72 , :name => "contact_form[text]" }
        .control-group
          .controls
            %button.btn.btn-info{ :type => :reset }= "Clear"
            %button.btn.btn-primary{ :type => :submit }= "Submit"

    #ackblurb{ :style => "display: none" }
      %h4= "Thanks chief, we got it!"

  .modal-footer

