
#new-student.clear-after-submit
  %legend
    %span.target= "Student"
    %span.operation= "Quick Add"
  = semantic_form_for :student, :remote => true, :url => student_path do |f| 
    = f.inputs :name => :mandatory do 
      = f.input :first_name
      = f.input :last_name

    .submit-buttons
      %input{:type => :submit, :role => :button, :value => "Create", :name => "commit"}
