
#new-student.clear-after-submit
  %legend= "New Student"
  = semantic_form_for :student, :remote => true, :url => '#' do |f| 
    .submit-buttons
      = submit_tag 'add students'

    = f.inputs do 
      = f.input :klass, :label => 'grade', :as => :select, :collection => [*9..12],
                          :input_html => { :name => "klass" }
      - [*1..5].each do |i|
        = f.input :name, :input_html => {:name => "names[#{i}]", :id => "student_#{i}"}, 
                         :label => "student ##{i}"
