
#new-verticals.clear-after-submit
  .form-title= "New Verticals"
  = semantic_form_for :vertical, :remote => true, :url => vertical_path do |f| 
    .submit-buttons
      = submit_tag 'add verticals', :class => :right

    = f.inputs do 
      - [*1..5].each do |i|
        = f.input :name, :input_html => {:name => "names[#{i}]", :id => "vertical_#{i}"},
                         :label => "Vertical ##{i}"
