
#m-exbopts-1.modal.fade.wide{ role: :dialog } 
  .row-fluid
    %h1.span8.offset1= "This quiz will be done ..."
    .span3
      = simple_button for: 'Make PDF', icon: 'icon-cog'
      
  .row-fluid.exbopt{ id: 'as-classwork' }
    .span2.offset1
      = image_tag 'notifications/classroom.png'
    .span7
      %h2= "... in Class"
      %p
        A single downloadable PDF - containing personalized worksheets for each student - will be created. 
        %span.orange= "Printing & scanning will be done by you."

  .row-fluid.exbopt{ id: 'as-homework' }
    .span2.offset1
      = image_tag "notifications/home.png"
    .span7
      %h2= "... at Home"
      %p
        %span.orange= 'No printing or scanning required.' 
        Students will use our mobile app - Scanbot - to see questions 
        on their Android phones and 
        %span.orange= 'write their solutions on plain paper.'
        They will also upload their work using the app.
        
