
#m-exbopts-1.modal.fade.wide{ role: :dialog } 
  .row-fluid
    %h1.span8.offset1= "Who will do the printing?" 
    .span3
      = simple_button for: 'Make PDF', icon: 'icon-cog'
      
  .row-fluid.exbopt{ id: 'as-classwork' }
    .span2.offset1
      = image_tag 'quick-trial/printer.png'
    .span7
      %h2= "I will"
      %p
        A single downloadable PDF - containing personalized worksheets for each student - will be created. 
        You will have to print it out and distribute amongst students

  .row-fluid.exbopt{ id: 'as-homework' }
    .span2.offset1
      = image_tag "notifications/home.png"
    .span7
      %h2= "Students will"
      %p
        Each student will get a downloadble PDF in their account - which they will 
        have to print at home or in school. No downloadable PDF 
        will be created in your account
        
