
#new-topics.clear-after-submit
  %legend
    %span.target= "Topics"
    %span.operation= "Select a vertical & then add"
  = semantic_form_for :topic, :remote => true, :url => topic_path do |f| 
    .submit-buttons
      = submit_tag 'add topics'

    = f.inputs do 
      = f.input :vertical, :as => :select, :collection => [],
                          :input_html => { :name => "vertical" }
      - [*1..5].each do |i|
        = f.input :name, :input_html => {:name => "names[#{i}]", :id => "topic_#{i}"}, 
                         :label => "topic ##{i}"
