
#new-topic.new-entity.close-on-submit
  = semantic_form_for :topic, :remote => true, :url => topic_path do |f| 
    = f.inputs do 
      = f.input :name, :label => 'Topic'
      = f.input :vertical, :label => 'Vertical', :as => :select, 
                           :collection => Vertical.order(:name), :include_blank => false
    .submit-buttons
      = submit_tag 'add new topic'
