
- purge = onepane ? true : false 

%div.tabbable.tabs-left{ id: "#{context}-verticals" }
  %ul.nav.nav-tabs.span4{ id: "ul-#{context}", class: ( purge ? 'purge-blind lock' : 'purge-skip' )  }
    - Vertical.all.each do |m|
      %li{ marker: "#{m.id}" }
        = simple_link for: "#{m.name}", toggle: :tab, id: "tab-#{context}-#{m.id}",
        href: "#{ onepane ? "##{context}-common-pane" : "##{context}-#{m.id}" }",
        url: { self: "vertical/topics.json?id=:id&context=#{context}" }

  .tab-content.span7{ id: "#{context}-topics" }
    - if onepane 
      %div.tab-pane{ id: "#{context}-common-pane" }
    - unless onepane 
      - Vertical.all.each do |m|
        %div.tab-pane.multi-select{ id: "#{context}-#{m.id}" }
