
%ul.no-bullets
  = main_link :for => :workbench, :default => true
  = main_link :for => :schools, :with => {:panels => {:middle => "#new-student", 
                                                      :right => "#new-teacher"}} 

  = main_link :for => :courses, :with => {:panels => { :middle => '#edit-syllabi-form',
                                                       :right => '#new-course' } }
                                                       

  = main_link :for => :yardsticks
  = main_link :for => :account, :as => 'console', 
              :with => {:panels => { :middle => '#new-examiners', :right => '#examiners-list' } }
  = main_link :for => :logout, :href => "/logout", :dynamic => false

