- cust_id = :marker

= simple_form_for :checked, :remote => true, 
  :html => { :id => "form-ctrct-new", :class => 'no-remove', 
             :data => { :id => cust_id } } do |f|
  .row-fluid.navbar.purge-skip
    .input-append.span10
      = f.input_field :name, :class => "span8", :placeholder => "Time Period (Months)"
      = f.input_field :name, :class => "span8", :placeholder => "Number of Students"
      = f.input_field :name, :class => "span8", :placeholder => "Price (Per Student Per Month)"
      %button.btn.btn-inverse{ :type => :submit }= "Create"

