
#upload-xls.new-entity.close-on-submit
  %h4= "Before you upload a Spreadsheet .."
  %p
    \.. please ensure the following
    %ol
      %li
        The spreadsheet is a Microsoft Excel spreadsheet
      %li
        It contains <b>only</b> student names - and nothing else
      %li
        The first column contains <b>either</b> the first name OR the full name
      %li
        The second column contains <b>either</b> the last name OR nothing at all

  %h4= "If you have an existing spreadsheet with names .."
  %p
    \.. then please copy just the portion with names into a <b>new</b> spreadsheet - conforming 
    to the requirements above <b>and then</b> upload the new spreadsheet. Its a little extra work - 
    but a lot less than typing

  = semantic_form_for :excel, :remote => true, :html => { :id => :upload_student_xls, :target => "post-xls-submit" } do |f| 
    = f.input :klass, :label => 'grade', :as => :select, :collection => [*9..12]
    = f.input :sektion, :as => :string, :label => 'name'
    = f.input :xls, :as => :file, :label => false
    .submit-buttons
      = submit_tag 'upload'
    %iframe{:name => "post-xls-submit", :style => "display:none"}

  
