
.calibrations
  .summary
    - ["Insight", "Formulation", "Calculation"].each do |m|
      = render :partial => 'toolbox/equalizer', :locals => { :label => m }
  .details
    #preamble
      Based on what is written, can one say that the student ...

    .question= "Identified the key insights needed to solve the problem ?"
    .question{ :mcq => :yes}= "has correctly answered the multiple choice question ?"

    - Yardstick.where('insight = ? OR mcq = ?', true, true).order(:weight).each do |y|
      .root-cause{ :marker => "#{y.id}" }
        .bottomline= "#{y.bottomline}"
        .meaning= "#{y.meaning}"
    .question= "Built on the insights to formulate a mathematically sound solution ?"
    - Yardstick.formulations.order(:weight).each do |y|
      .root-cause{ :marker => "#{y.id}" }
        .bottomline= "#{y.bottomline}"
        .meaning= "#{y.meaning}"
    .question= "Performed all required calculations correctly ?"
    - Yardstick.calculations.order(:weight).each do |y|
      .root-cause{ :marker => "#{y.id}" }
        .bottomline= "#{y.bottomline}"
        .meaning= "#{y.meaning}"
