
#colour-picker
  %div
    #currently-annotating
  %div{ :section => "true" }= "Annotations"
  %div{ :coloured => :yes }
    %div.left{ :colour => :crosses }
    .right= "Wrong!"
  %div{ :coloured => :yes }
    %div.left{ :colour => :exclamations }
    .right= "Huh?"
  %div{ :coloured => :yes }
    %div.left{ :colour => :checks }
    .right= "Nice!"
  %div
    %input{ :type => :button, :id => 'undo-btn', :value => 'undo last'} 

  %div{ :section => "true" }= "Shortcuts"
    
