
#fdb-panel.no-remove
  .question= "Does it look like an honest effort?"
  - Requirement.honest.each do |m|
    = render :partial => 'toolbox/requirement', :locals => { :requirement => m }
  .question= "Is the work done relevant to the question?"
  - Requirement.cogent.each do |m|
    = render :partial => 'toolbox/requirement', :locals => { :requirement => m }
  .question= "Is the work done complete?"
  - Requirement.complete.each do |m|
    = render :partial => 'toolbox/requirement', :locals => { :requirement => m }
  .question= "Anything else?"
  - Requirement.other.each do |m|
    = render :partial => 'toolbox/requirement', :locals => { :requirement => m }
