
#fdb-panel.no-remove.static
  .row-fluid
    .question.span7= "An honest effort ?"
    .span5
      - Requirement.honest.each do |m|
        .row-fluid.hide.requirement{ :marker => m.id }
          .row.bottomline= "#{m.bottomline}"
          .row.text= "#{m.text}"
  .row-fluid
    .question.span7= "Is the work done relevant to the question?" 
    .span5
      - Requirement.cogent.each do |m|
        .row-fluid.hide.requirement{ :marker => m.id }
          .row.bottomline= "#{m.bottomline}"
          .row.text= "#{m.text}"
  .row-fluid
    .question.span7= "Is it complete ?"
    .span5
      - Requirement.complete.each do |m|
        .row-fluid.hide.requirement{ :marker => m.id }
          .row.bottomline= "#{m.bottomline}"
          .row.text= "#{m.text}"
  .row-fluid
    .question.span7= "Anything else ?"
    .span5
      - Requirement.other.each do |m|
        .row-fluid.hide.requirement{ :marker => m.id }
          .row.bottomline= "#{m.bottomline}"
          .row.text= "#{m.text}"
