
- overall = Rubric['overall']

= simple_form_for :checked, :remote => true, :url => qzb_echo_path, 
  :html => { :id => 'form-feedback', :class => 'no-remove'} do |f|

  .row-fluid.navbar
    = f.button :submit, :class => 'btn-inverse pull-right', :value => "Submit"
  .tabbable.tabs-left.no-remove
    %ul.nav.nav-tabs.span4.nopurge-on-show
      %li
        = simple_link :for => "Honest effort - even if incomplete?", 
        :id => "tab-honest", :href => "#pane-honest"
      %li
        = simple_link :for => "Cogent & Correct - even if incomplete?", 
        :id => "tab-cogent", :href => "#pane-cogent"
      %li
        = simple_link :for => "Complete?", :id => "tab-complete",
        :href => "#pane-complete"
      %li
        = simple_link :for => "Anything else?", :id => "tab-other",
        :href => "#pane-other"

    -# List of students - by sektion - shown in a sektion-specific tab and wrapped in a <form>
    .tab-content.span7
      #pane-honest.tab-pane.writeonce
      #pane-cogent.tab-pane.writeonce
      #pane-complete.tab-pane.writeonce
      #pane-other.tab-pane.writeonce.multi-select
