
#grd-toolbar-btns.btn-toolbar
  .btn-group.btn-group-vertical
    = simple_button :icon => "icon-chevron-up", :tooltip => "Previous Scan", :id => 'btn-prev-scan'
    = simple_button :icon => "icon-chevron-left", :tooltip => "Previous Question", :id => 'btn-prev-ques'
    = simple_button :icon => "icon-chevron-right", :tooltip => "Next Question", :id => 'btn-next-ques'
    = simple_button :icon => "icon-chevron-down", :tooltip => "Next Scan", :id => 'btn-next-scan'
  .btn-group.btn-group-vertical{ 'data-toggle' => 'buttons-radio' }
    = simple_button :icon => "icon-leaf", :tooltip => "Fresh Copy", :id => 'btn-fresh-copy'
    = simple_button :icon => "icon-ok", :tooltip => "Right!", :id => 'btn-ok'
    = simple_button :icon => "icon-remove", :tooltip => "Wrong!", :id => 'btn-cross'
    = simple_button :icon => "icon-question-sign", :tooltip => "How?", :id => 'btn-what'
    = simple_button :icon => "icon-text-width", :tooltip => "Add a Comment", :id => 'btn-write'
    = simple_button :icon => "icon-repeat", :tooltip => "Undo Last", :id => 'btn-undo'

