
= simple_form_for :checked, :remote => true, 
  :html => { :id => 'form-feedback', :class => 'no-remove'} do |f|

  .tabbable.tabs-left.no-remove
    %ul.nav.nav-tabs.span4.nopurge-on-show
      %li
        = simple_link :for => "An honest effort - even if incomplete?", 
        :id => "tab-honest", :href => "#pane-honest", :class => :writeonce
      %li
        = simple_link :for => "Does it make sense?",
        :id => "tab-cogent", :href => "#pane-cogent", :class => :writeonce
      %li
        = simple_link :for => "Is it complete?", :id => "tab-complete",
        :href => "#pane-complete", :class => :writeonce
      %li
        = simple_link :for => "Anything else?", :id => "tab-other",
        :href => "#pane-other", :class => :writeonce

    -# List of students - by sektion - shown in a sektion-specific tab and wrapped in a <form>
    .tab-content.span7
      #pane-honest.tab-pane
        - Requirement.where(:honest => true).order(:weight).each do |m|
          = render :partial => 'toolbox/requirement', :locals => { :requirement => m }
      #pane-cogent.tab-pane
        - Requirement.where(:cogent => true).order(:weight).each do |m|
          = render :partial => 'toolbox/requirement', :locals => { :requirement => m }
      #pane-complete.tab-pane
        - Requirement.where(:complete => true).order(:weight).each do |m|
          = render :partial => 'toolbox/requirement', :locals => { :requirement => m }
      #pane-other.tab-pane.multi-select
        - Requirement.where(:other => true).order(:weight).each do |m|
          = render :partial => 'toolbox/requirement', :locals => { :requirement => m }
