
-# requirement comes as a local from the calling partial

.row-fluid.requirement
  .span5
    .badge= "#{requirement.bottomline}" 
  .span7
    .text= "#{requirement.text}"
    %input.hide{ :type => :checkbox, :name => "checked[#{requirement.id}]", :id => "checked_#{requirement.id}" }
