
-# requirement comes as a local from the calling partial

.row-fluid.requirement
  .span3
    .badge
    .bottomline= "#{requirement.bottomline}" 
  .span9
    .text= "#{requirement.text}"
    %input.hide{ :type => :checkbox, :name => "checked[#{requirement.id}]", :id => "checked_#{requirement.id}" }
