
-# requirement comes as a local from the calling partial

.row-fluid.requirement
  .span2
    .badge= "#{requirement.posn}"
  .span10
    .bottomline= "#{requirement.bottomline}" 
    .text= "#{requirement.text}"
    %input.hide{ :type => :checkbox, :name => "checked[#{requirement.id}]", :id => "checked_#{requirement.id}" }
