
-#
  This is the God element - kinda like the God particle CERN researchers
  are searching for. It has everything in it - radio-buttons, check-boxes, 
  a label, <select> for difficulty etc.
  In cases where the list to display is already known, iterate over the DB
  records and render this element. Then, in JS, disable & hide the bits you don't want
  to show in the list. So, if you want to show checkbox instead of a radio-button,
  hide the latter but not the former

- marker = marker.blank? ? 'tbd' : marker
- label = label.blank? ? 'tbd' : label

.toolbox.god-element.full-width
  %input.left{ :type => :radio, :class => :radio, :marker => "#{marker}", :disabled => true }  
  %input.left{ :type => :checkbox, :class => :checkbox, :disabled => true, 
               :marker => "#{marker}", :name => "checked[#{marker}]" }  
  .label.left= "#{label}"
  %input.button.right{ :type => :button, :disabled => true }
  %select.right.difficulty.select{ :name => "difficulty[#{marker}]", :disabled => true}
    %option{ :value => 1 }= "introductory"
    %option{ :value => 2 }= "intermediate"
    %option{ :value => 3 }= "advanced"
