
-# 'type' comes from the calling HAML

.row-fluid.nopurge
  .span9
    .small-text.white
      Drag and drop between sets or within a set to change order. Then, click 'Submit'
  .span2
    = simple_button for: 'Submit', class: 'btn btn-primary pull-right'
.row-fluid
  .span4.used.assets{ id: "#{type}-used" }
    %h4.white.text-center= 'Being used'
    %ul.serialize
  .span7.available.assets{ id: "#{type}-available" }
    %h4.white.text-center= 'Not being used'
    %ul.span5
    %ul.span5.offset1
