
%ul.dropdown-menu.dropdown-inverse#m-1{ role: :menu } 
  %li
    = simple_link for: 'My Courses', icon: 'icon-list', id: 'a-my-courses'
  %li
    = simple_link for: 'Lessons & Quizzes', icon: 'icon-list', id: 'a-my-assets'
  %li
    = simple_link for: 'New Course', icon: 'icon-plus-sign', id: 'a-new-course'
  %li
    = simple_link for: 'New Lesson', icon: 'icon-plus-sign', id: 'a-new-lesson'
  %li
    = simple_link for: 'New Quiz', icon: 'icon-plus-sign', id: 'a-new-quiz'
