
#school-controls.top-panel-controls
  %ul.no-bullets
    = minor_link :for => 'add-school', :label => 'New School'
    = minor_link :for => 'edit-school', :label => 'Edit Selected'
    = minor_link :for => 'edit-roster', :label => 'Faculty Roster', 
                 :with => { :panels => { :middle => '#teachers-list', :right => '#studygroups-list'} }
    = minor_link :for => 'edit-studygroups', :label => 'Classes & Sections',
                 :with => { :panels => { :middle => '#new-studygroups' } }
  = form_tag schools_list_path, :method => :get, :remote => true, :class => 'right' do |f| 
    = drop_down_menu_for :states
    = submit_tag 'Search'
