
#new-video.new-entity.close-on-submit
  = semantic_form_for :video, :remote => true, :url => video_path do |f|
    = f.input :title 
    = f.input :url, :as => :text, :input_html => { :rows => 4, :columns => 30 }
    = f.input :restricted, :as => :select, :collection => { :yes => true, :no => false },
              :include_blank => false
    = f.input :instructional, :as => :select, :collection => { :no => false, :yes => true },
              :include_blank => false

    .submit-buttons
      = submit_tag 'add video'
