
#edit-yardstick.clear-after-submit
  %legend
    %span.target= "Yardstick"
    %span.operation= "Quick Edit"
  = semantic_form_for :yardstick, :remote => true do |f| 
    = f.inputs do 
      = f.input :description, :as => :text, :input_html => {:rows => 7, :marker => :description} 
      = f.input :mcq, :label => "MCQ ?", :as => :boolean ,:input_html => {:marker => :mcq} 

    .submit-buttons
      %input{:type => :submit, :role => :button, :value => "Update", :name => "commit"}
