
#yardsticks-summary.selection.full-width.left{ :middle => '#edit-yardstick',
                                               :right => '#new-yardstick'}
  .data
    #yardsticks-icon-table
      #insights.label.left= "Insights" 
      #formulation.label.left= "Formulation"
      #calculation.label.left= "Calculation" 
    .traffic-light
      %input{ :type => :radio, :url => 'yardstick.json?id=1' }
      = image_tag "icons/red-cross.png", :size => "32x32" 
      = image_tag "icons/red-cross.png", :size => "32x32" 
      = image_tag "icons/red-cross.png", :size => "32x32" 
    .traffic-light
      %input{ :type => :radio, :url => 'yardstick.json?id=2' }
      = image_tag "icons/orange-plus.png", :size => "32x32" 
      = image_tag "icons/red-cross.png", :size => "32x32" 
      = image_tag "icons/red-cross.png", :size => "32x32" 
    .traffic-light
      %input{ :type => :radio, :url => 'yardstick.json?id=3' }
      = image_tag "icons/orange-plus.png", :size => "32x32" 
      = image_tag "icons/orange-plus.png", :size => "32x32" 
      = image_tag "icons/red-cross.png", :size => "32x32" 
    .traffic-light
      %input{ :type => :radio, :url => 'yardstick.json?id=4' }
      = image_tag "icons/orange-plus.png", :size => "32x32" 
      = image_tag "icons/orange-plus.png", :size => "32x32" 
      = image_tag "icons/orange-plus.png", :size => "32x32" 
    .traffic-light
      %input{ :type => :radio, :url => 'yardstick.json?id=5' }
      = image_tag "icons/green-check.png", :size => "32x32" 
      = image_tag "icons/red-cross.png", :size => "32x32" 
      = image_tag "icons/red-cross.png", :size => "32x32" 
    .traffic-light
      %input{ :type => :radio, :url => 'yardstick.json?id=6' }
      = image_tag "icons/green-check.png", :size => "32x32" 
      = image_tag "icons/orange-plus.png", :size => "32x32" 
      = image_tag "icons/red-cross.png", :size => "32x32" 
    .traffic-light
      %input{ :type => :radio, :url => 'yardstick.json?id=7' }
      = image_tag "icons/green-check.png", :size => "32x32" 
      = image_tag "icons/orange-plus.png", :size => "32x32" 
      = image_tag "icons/orange-plus.png", :size => "32x32" 
    .traffic-light
      %input{ :type => :radio, :url => 'yardstick.json?id=8' }
      = image_tag "icons/green-check.png", :size => "32x32" 
      = image_tag "icons/green-check.png", :size => "32x32" 
      = image_tag "icons/red-cross.png", :size => "32x32" 
    .traffic-light
      %input{ :type => :radio, :url => 'yardstick.json?id=9' }
      = image_tag "icons/green-check.png", :size => "32x32" 
      = image_tag "icons/green-check.png", :size => "32x32" 
      = image_tag "icons/orange-plus.png", :size => "32x32" 
    .traffic-light
      %input{ :type => :radio, :url => 'yardstick.json?id=10' }
      = image_tag "icons/green-check.png", :size => "32x32" 
      = image_tag "icons/green-check.png", :size => "32x32" 
      = image_tag "icons/green-check.png", :size => "32x32" 

