#footer
  #copyright-notice
    #copyright-validity.left= "Copyright © 2013 www.gradians.com is best viewed using"
    #firefox-icon.left.browser-icon
      = link_to 'Firefox 3.5+', 'http://www.mozilla.com/en-US/firefox/'
      = image_tag "firefox-gray.png"
    #chrome-icon.left.browser-icon
      = link_to 'Chrome', 'http://www.google.com/chrome'
      = image_tag "chrome-gray.png"
    #ie-icon.left.browser-icon
      = link_to 'IE 9+','http://windows.microsoft.com/en-IN/internet-explorer/downloads/ie-9/worldwide-languages'
      = image_tag "ie-gray.png"
