
#main-marketing-contact-etc.row-fluid
  .span4.offset1
    %h3= "Why we do what we do"
    .row-fluid
      .span1
        %h2= "1"
      .span10
        %p= "Teachers know best"
        %p= "They don't need our help in teaching their class"
        
    .row-fluid
      .span1
        %h2= "2"
      .span10
        %p= "Teachers Care"
        %p= "They don't need our help in teaching their class"
  .span4
    %h3= "About Us"
    %h3= "Contact Us"
    %p
      4503 DLF City Phase - 4<br/>
      Gurgaon</br>
  .span2
    %h3= "Quick Links"
    = simple_link :for => 'About Us', :href => '#main-about-us'
