
#register_student.modal.hide.fade

  .modal-header
    %h3= "Hi, Thank you for taking the time to register!"
  .modal-body
    #formblurb.form-horizontal
      %h4= "Fill out this form and we'll get you started..."
      %br
      %form{ :id => "studentform",  :action => "welcome/register_student", :method => :post, "data-remote" => "true" } 
        .control-group
          .control-label{ :for => "studentform[name]" }= "Full Name"
          .controls 
            %input.input-long.required{ :type => :text, :id => "studentform[name]" , :name => "studentform[name]"}
        .control-group
          .control-label{ :for => "studentform[email]" }= "eMail"
          .controls 
            %input.input-long.required.email{ :type => :email, :id => "studentform[email]", :name => "studentform[email]"}
        .control-group
          .control-label{ :for => "studentform[gradelevel]" }= "Grade Level (9 - 12)"
          .controls 
            %input.input-long{ :type => :text, :id => "studentform[gradelevel]" , :name => "studentform[gradelevel]"}
        .control-group
          .control-label{ :for => "studentform[school]" }= "School"
          .controls 
            %input.input-long{ :type => :text, :id => "studentform[school]" , :name => "studentform[school]"}
        .control-group
          .control-label{ :for => "studentform[country]" }= "Country"
          .controls 
            %input.input-long{ :type => :text, :id => "studentform[country]" , :name => "studentform[country]"}
        .control-group
          .controls
            %button.btn.btn-primary.submit{ :id => "yesbtn", :type => :submit }= "Yaay, sign me up!"
            %button.btn.btn-info{ :id => "nobtn", :type => :reset }= "Nah, another time"

    #ackblurb{ :style => "display: none" }
      %h4= "You are all set! Check your email for login information"
      %p 
        You have taken your very first step towards a unique,
        pressure-free, practise experience where the only thing between
        you and the subject is - a little helping hand. No judgement, no
        expectation, no comparisons and most importantly no grades! 
    #errblurb{ :style => "display: none" }
      %h4= "Sorry you need to enter all the fields!"

#register_teacher.modal.hide.fade

  .modal-header
    %h3= "Hi, thank you for taking interest in Gradians.com"
  .modal-body
    #formblurb.form-horizontal
      %h4= "Tell us how to reach you and someone from our team will"
      %br
      %form{ :id => "teacherform",  :action => "welcome/register_teacher", :method => :post, "data-remote" => "true" } 
        .control-group
          .control-label{ :for => :inputName }= "Name"
          .controls 
            %input.input-long{ :type => :text, :id => :inputName , :name => "teacherform[name]"}
        .control-group
          .control-label{ :for => :inputEmail }= "eMail"
          .controls 
            %input.input-long{ :type => :email, :id => :inputEmail , :name => "teacherform[email]"}
        .control-group
          .control-label{ :for => :inputOrg }= "Organisation"
          .controls 
            %input.input-long{ :type => :text, :id => :inputOrg , :name => "teacherform[org]"}
        .control-group
          .control-label{ :for => :inputMessage }= "Message/Question(Optional)"
          .controls 
            %textarea{ :rows => 6 , :cols => 72 , :name => "teacherform[text]" }
        .control-group
          .controls
            %button.btn.btn-primary{ :type => :submit }= "Submit"
            %button.btn.btn-info{ :type => :reset }= "Clear"

    #ackblurb{ :style => "display: none" }
      %h4= "You'll hear from us very shortly"
    #errblurb{ :style => "display: none" }
      %h4= "Please fill all the required fields!"

