
#scanbot-image.left
  = image_tag "scanbot-trans.png"

#scanbot-manual.left
  #download-btn
    = link_to 'Download Scan Application', '#'
  .half-column
    %h4= "What is this?"
    %p
      The 'scanbot' is a downloadable application that will detect, collect and then 
      transmit testpaper scans stored on your computer.  All you need to do is tell 
      the scanbot where that place on your computer is and it will do the rest
    %h4= "Where can I see how to use scanbot ?"
    %p
      See our screencast titled - "How to send scans"
  .half-column
    %h4= "When I download the application, I get a warning message. What should I do ?"
    %p
      The warning message is coming from your web-browser and is entirely expected. The
      browser just wants to make sure that you are OK with downloading this application
      from the web. Just say 'yes' - or 'OK' - and proceed
    %p 
      That said, do not say 'yes' to every application from the web. The 'scanbot' is a
      nice, happy application. But there are many others out there that are not
