#how-it-works
  .half-column.left
    .step
      = image_tag "1.png"
      .right= "Teacher picks questions from our database to create a quiz"
    .step
      = image_tag "2.png"
      .right= "Downloads the one PDF with testpapers for all students"
    .step
      = image_tag "3.png"
      .right= "Students complete the quiz and return testpapers to teacher"
  .half-column.right
    .step
      = image_tag "4.png"
      .right= "Teacher scans completed testpapers"
    .step
      = image_tag "5.png"
      .right= "Scans are transmitted back to us using our scanning app" 
    .step
      = image_tag "6.png"
      .right= "We judge the quality of responses. Marks are then calculated based on teacher's marking scheme"
