#how-it-works
  .half-column.left
    .step
      = image_tag "1.png"
      .right
        Teacher picks questions from our database to create a quiz
    .step
      = image_tag "2.png"
      .right
        Downloads the one PDF with worksheets for all students
    .step
      = image_tag "3.png"
      .right= "Students complete the quiz and return worksheets to teacher"
  .half-column.right
    .step
      = image_tag "4.png"
      .right= "Teacher scans completed worksheets. The scans are now in her computer"
    .step
      = image_tag "5.png"
      .right
        Our #{link_to 'downloadable utility', download_path} - Scanbot - automatically finds the scans and transmits them to us 
    .step
      = image_tag "6.png"
      .right= "We take a first look at the student's work and provide our feedback on it. Numerical marks are auto-calculated" 
