#how-it-works
  .half-column.left
    .step
      = image_tag "1-small.png"
      .right= "Teacher picks questions from our database to build a quiz"
    .step
      = image_tag "2-small.png"
      .right= "Download and printout the quiz"
    .step
      = image_tag "3-small.png"
      .right= "Students take the quiz"
  .half-column.right
    .step
      = image_tag "4-small.png"
      .right= "Teacher scans the returned answer sheets"
    .step
      = image_tag "5-small.png"
      .right= "She then uploads the scans using the scan-loader application"
    .step
      = image_tag "6-small.png"
      .right= "We grade the responses. Teachers and students can then view their results"

