#try-us
  .one-third-column.left
    #try-us-icon
      = image_tag "tryUs.png"
  #try-us-next-steps.one-third-column.left
    .step
      .ticker.left= "1"
      .text.left
        Fill and submit the form here to activate your trial account
    .step
      .ticker.left= "2"
      .text.left
        Login as a teacher and build quizzes & testpapers based on our sample
        syllabus. During trial, you will have access to a subset of our question bank
    .step
      .ticker.left= "3"
      .text.left
        Print a testpaper and write answers on it as if you were a student.
        Then #{link_to 'scan the testpaper', download_path} and send it to us for grading. You 
        can go through this cycle with us as many times as you want
    .step
      .ticker.left= "4"
      .text.left
        Need help? Write to us at help@gradians.com. Our #{link_to 'video tutorials', howtos_path} are also
        a good source of information on the website's basics
    
        
  .one-third-column.right
    = semantic_form_for :trial, :url => trial_account_path, :method => :post do |f|
      #trial-user-signup
        %div
          = f.input :name, :as => :string, :label => false, 
                    :input_html => { :placeholder => 'full name' }
          = f.input :email, :as => :string, :label => false, 
                    :input_html => { :placeholder => 'email' }
          = f.input :email_confirm, :as => :string, :label => false, 
                    :input_html => { :placeholder => 're-enter email' }
        %div
          = f.input :school, :as => :string, :label => false, 
                    :input_html => { :placeholder => 'school' }
          = f.input :zip_code, :as => :string, :label => false, 
                    :input_html => { :placeholder => "school's zip-code" }
        %div
          = f.input :country, :as => :select, :collection => Country.all, :label => false
          = submit_tag 'submit', :id => 'signup-btn', :class => 'orange-submit-btn'
