
- boards = Board.all 

.wide.pane.greedy
  #top-panel.action-panel.horizontal
  #board-list.action-panel.vertical.left.transparent
    - boards.each do |board| 
      .radio-button
        %input{ :type => :radio, :name => :radio, :id => "radio_#{board.id}", :marker => "#{board.id}"} 
        %label{ :for => "radio_#{board.id}" }= "#{board.name}"

  #courses-table.flushable.left.greedy
    .table 
      .headings 
        .row 
          .cell.quick-link
            %a{ :href => '#' }= "Add New" 
          - { :course => :wide, :subject => :regular, 
              :grade => :narrow }.each do |title, class_attr| 
            .cell{ :class => "#{class_attr.to_s}" }= "#{title.to_s.humanize}"
      .data
