
- boards = Board.all 

.wide.pane
  #top-panel.action-panel.horizontal
  #board-list.action-panel.vertical.left
    - boards.each do |board| 
      .radio-button
        %input{ :type => :radio, :name => :radio, :id => "radio_#{board.id}", :index => "#{board.id}"} 
        %label{ :for => "radio_#{board.id}" }= "#{board.name}"

  #courses-table.flushable.table.left
    %table
      %thead
        %th= "Course" 
        %th= "Subject" 
        %th= "Grade" 
        %th= "Active?" 

      %tbody.table.content 
