
#course-controls.top-panel-controls
  %ul.no-bullets
    = minor_link :for => 'add-course', :label => "New Course"  
    = minor_link :for => 'edit-course', :label => "Edit Selected"  
    = minor_link :for => 'add-topic', :label => "New Topic"  
  = form_tag courses_list_path, :method => :get, :remote => true, :class => 'right' do |f| 
    = drop_down_menu_for :subjects
    = drop_down_menu_for :boards
    = drop_down_menu_for :klasses
    = submit_tag 'Search'
