

#fdb-main.hide.span11
  .hide{ id: 'pending-scans' }

  .row-fluid{ id: 'fdb-active-area' }
    .span2{id: 'fdb-controls' }
      .row-fluid.push-down
        .btn-group.btn-group-vertical{ data: { toggle: 'buttons-radio' } } 
          = simple_button for: 'ick', id: 'btn-ok', shortcut: 'T'
          = simple_button for: 'Cross', id: 'btn-cross', shortcut: 'X'
          = simple_button for: 'ow?', id: 'btn-what', shortcut: 'H'
      .row-fluid.push-down
        .btn-group.btn-group-vertical
          = simple_button for: 'estore', id: 'btn-fresh-copy', tooltip: 'Restore original scan', shortcut: 'R'
          = simple_button for: 'rite', tooltip: 'Add a Comment', id: 'btn-write', shortcut: 'W'
          = simple_button for: 'ndo', tooltip: 'Undo Last', id: 'btn-undo', shortcut: 'U'
          = simple_button for: 'lip', tooltip: 'Flip Image', id: 'btn-rotate', shortcut: 'F'
      .row-fluid.push-down
        .btn-group.btn-group-vertical{ id: 'fdb-nav' }
          = simple_button for: 'rev Pg', tooltip: 'Previous Scan', id: 'btn-prev-scan', shortcut: 'P'
          = simple_button for: 'Prev Q', tooltip: 'Previous Question', id: 'btn-prev-ques', shortcut: 'Y'
          = simple_button for: 'Next Q', tooltip: 'Next Question', id: 'btn-next-ques', shortcut: 'Z'
          = simple_button for: 'ext Pg', tooltip: 'Next Scan', id: 'btn-next-scan', shortcut: 'N'
    .span9{ id: 'fdb-preview-area' }
