
- content_for :hidden_stuff do 
  #admin-forms.hidden
    = render :partial => 'yardsticks/new'
    = render :partial => 'boards/new'
    = render :partial => 'schools/new'
    = render :partial => 'schools/edit'
    = render :partial => 'yardsticks/edit'

  #controls.hidden 
    = render :partial => 'boards/controls'
    = render :partial => 'courses/controls'
    = render :partial => 'schools/controls'
    = render :partial => 'yardsticks/controls'

  #tables.hidden
    = render :partial => 'boards/summary'
    = render :partial => 'schools/summary'
    = render :partial => 'yardsticks/summary'

!!!5

%html{html_attrs}
  %head 
    = javascript_include_tag "admin"
    = stylesheet_link_tag "application" 
    = csrf_meta_tag

  %body 
    #usable-area
      #side-panel.vertical.left
        = render :partial => 'admin/sidepanel'
      #results-and-outputs.left.greedy 
        #control-panel.action-panel.horizontal
        #data-panel
          = yield

    = yield :hidden_stuff
