
!!!5

%html{html_attrs}
  %head 
    = javascript_include_tag "admin"
    = stylesheet_link_tag "application" 
    = csrf_meta_tag

  %body 
    #usable-area
      #side-panel.vertical.left
        = render :partial => 'admin/sidepanel'
      #results-and-outputs.left.greedy 
        = yield

    = yield :hidden_stuff
