- rate_codes = RateCode.all

#m-invoice.modal.regular.fade.row-fluid
  %ul.nav.nav-tabs.always-on
    %li#transfer
      %p.title= "Create Invoice"

  = simple_form_for :invoice, :url => gen_invoice_path, :remote => true, 
    :defaults => { :required => false, :label => false }, :html => { :id => 'fm-gen-invoice' } do |f|
    .row-fluid
      .span6
        = f.input :amount, :placeholder => "Amount", :input_html => { :class => "input-mini" }
        = f.select :currency, [["USD", "USD"], ["INR", "INR]]
      .span6
        = f.select :rate_code, rate_codes
    #message.alert.alert-error.hide
    %button.btn.btn-large.btn-primary.push-down.pull-right{:type => :submit}= "Transfer"

