-# customer gets passed in from layout
- usdrate = RateCode.for_course_credit("USD").value
- inrrate = RateCode.for_course_credit("INR").value
- payment = Payment.new credits: customer.credit_balance, cash_value: customer.credit_balance * (customer.currency == "USD" ? usdrate : inrrate), currency: customer.currency

#m-refund-credits.modal.fade.wide{ role: :dialog }
  .row-fluid
    .span6
      %h1#headline.title= "Refund Gredits"
    .span6
      = image_tag "landing/paypal.svg", :id => "img-payment-cons"
      .small Powered by PayPal
    = simple_form_for payment, :url => refund_path, :validate => true, :remote => true, :html => { :id => 'fm-refund-credits' }, :defaults => { :label => false } do |f|
      .row-fluid
        .span6
          %h3 Account Balance 
          = f.input :credits, :readonly => true, :input_html => { :id => "total-amt", :tabindex => -2 , :value => "#{payment.credits} Gredits" }
          %h3 Refund to
          = f.input :name, :placeholder => "Name", :input_html => { :maxlength => 60, :value => "#{customer.account.loggable.name}" } 
        .span6
          %h3 Amount Refundable*
          = f.input :cash_value, :readonly => true, :input_html => { :id => "total-amt", :tabindex => -1, :value => "#{payment.display_value}" }
          %h3 Email
          = f.input :email, :placeholder => "Refund to email", :input_html => { :maxlength => 35 , :value => "#{customer.account.email}" }
      .row-fluid
        #message.alert.alert-error.hide
        %button.btn.btn-inverse.btn-large.push-down.pull-left{ :type => :reset, :id => 'btn-reset' }= "Clear Form"
        %button.btn.btn-primary.btn-large.push-down.pull-right{ :type => :submit, :id => 'btn-submit' }= "Process Refund"
    .small *You will receive an email from PayPal on how to access your refund. Amount refundable is calculated after deducting fees.

