-# customer comes in from the layout file
- balance = customer.nil? ? 0 : customer.credit_balance

#m-transfer.modal.regular.fade.row-fluid
  %ul.nav.nav-tabs.always-on
    %li#transfer
      %p.title= "Transfer Gredits"

  = simple_form_for :transfer, :url => credits_transfer_path, :remote => true, 
    :defaults => { :required => false, :label => false }, :html => { :id => 'fm-transfer' } do |f|
    - unless customer.nil?
      %input.hide{ :name => "transfer[donor_id]", :value => "#{customer.id}" }
    = f.input :recepient_email, as: :email, :placeholder => "Recepient Email"
    = f.input :credits, as: :numeric, :placeholder => "Qty", :input_html => { :class => "input-micro" }
    -#.row-fluid
      .span8
        = f.input :recepient_email, as: :email, :placeholder => "Recepient Email"
      .span4
        .input-group
          -#= f.input :quantity, as: :numeric, :input_html => { :id => 'quantity', step: 1 , :class => "input-micro" }
          %input.numeric.input-micro{ :id => "quantity" }
          .input-group-btn
            .btn-group
              %button.btn.btn-inverse{ :type => :button, :icon => "icon-plus-sign" }
              %button.btn.btn-inverse{ :type => :button }= "-"
    #message.alert.alert-error.hide
    %button.btn.btn-large.btn-primary.push-down.pull-right{:type => :submit}= "Transfer"
    %p *A charge of 1 Gredit is levied on every transfer

