

%ol.hide{ id: 'suggest-questions-milestone-1', data: { :enable => 'm-teacher-workbench', :onwards => :true }}
  %li{ data: { id: 'm-teacher-workbench' } }
    %h6= "#1"
    %p
      <b>Step 1:</b> Click on <b>Misc.</b> and then select <b>Suggest Question(s)</b> from the menu
    %p
      <b>Step 2:</b> Click on <b>Browse</b> and select the file that you want to upload
    %p
      <b>Step 3:</b> Click <b>Upload</b>
    %p
      Files can be of any of the following types
      %ul
        %li= "PDF"
        %li= "Microsoft Word Document"
        %li= "OpenOffice Document"
        %li= "An image file - JPEG, GIF etc"
        %li= "A simple text file"
      
