
#course-filter.hide
  %h3.white.underline= 'To be done'
  %p
    Space for three filters, one each for 
    %ul
      %li
        Selecting the subject 
      %li
        Selecting the target level 
        %ul
          %li= 'Junior school / Grades 1-6'
          %li= 'Middle school / Grades 7-9' 
          %li= 'Senior school / A-levels / Grades 10-12'
          %li= 'University'
      %li
        Search tags 
        
