
%ul.dropdown-menu.dropdown-inverse#per-quiz{ :role => :menu }
  %li.nav-header= "Worksheets"
  %li
    = simple_link :for => "Make New", :id => 'lnk-wsb-new'
  %li
    = simple_link :for => "See Existing", :id => 'lnk-wsb-existing'
  %li
    = simple_link :for => "Download Solution", :id => 'lnk-download-solution', 
    :url => "#{Gutenberg['server']}/atm/:a/answer-key/downloads/answer-key.pdf"
            
