
%ul.dropdown-menu.dropdown-inverse#per-quiz{ :role => :menu }
  %li.nav-header= "Worksheets"
  %li
    = simple_link :for => "Make New", :id => 'lnk-wsb-new'
  %li
    = simple_link :for => "List", :id => 'lnk-wsb-existing'
  %li.nav-header= "Download"
  %li
    = simple_link :for => "Solution (PDF)", :id => 'lnk-download-solution', 
    :url => "#{Gutenberg['server']}/atm/:a/answer-key/downloads/answer-key.pdf"
  %li.nav-header= "Misc"
  %li
    = simple_link :for => 'Report Cards', :id => 'lnk-rc-ws'
            
