
%ul.dropdown-menu.dropdown-inverse#per-quiz{ :role => :menu,
'data-update-on' => 'quiz/preview'}
  %li.nav-header= "Worksheets"
  %li
    = simple_link :for => "New", :next_tab => 1
  %li
    %a{ :href => '#' }= "Till Now"
  %li
    = simple_link :for => "Download Solution", 
    :url => "#{Gutenberg['server']}/atm/:a/answer-key/downloads/answer-key.pdf", 
    :update_on => "quiz/preview"
            
