
%ul.dropdown-menu.dropdown-inverse#per-quiz{ :role => :menu,
'data-update-on' => 'quiz/preview quizzes/list'}
  %li.nav-header= "Worksheets"
  %li
    %a{ :href => '#' }= "New"
  %li
    %a{ :href => '#' }= "Till Now"
  %li
    = simple_link :base_url => "#{Gutenberg['server']}/atm/:a/answer-key/downloads/answer-key.pdf", 
    :update_on => "quiz/preview", :as => "Download Solution"
            
