
-# teacher and server come from layout file

%ul#teacher-quiz.dropdown-menu.pull-right
  %li.nav-header= "quiz"
  %li
    = simple_link :for => "New Quiz", :id => "lnk-new-quiz"
    = simple_link :for => "Existing Quizzes", :id => "lnk-existing-quiz"
  %li.divider
  %li.nav-header= "Suggest Questions"
  %li
    = simple_link :for => "Suggestion Form", :id => 'lnk-suggestion-form',
    :href => "#{server}/front-desk/teachers/#{teacher.school_id}-#{teacher.id}/petty-cash/#{teacher.id}-#{teacher.first_name}.pdf"

  %li
    = simple_link :for => "Uploading a Word Document", :id => 'lnk-upload-suggestion'
