
%ul.dropdown-menu.dropdown-inverse#teacher-workbench{ :role => :menu }
  %li
    = simple_link :for => "Grading Work (pending)", :id => 'lnk-wb-pending'
  %li
    = simple_link :for => "Upload Questions", :id => 'lnk-upload-suggestion', :href => "#m-suggestion-upload"
  %li
    = simple_link :for => "Manage Section / Study Groups", :id => 'lnk-mng-sektions'
  %li
    %a{ :href => "#{server}/winbot/app.publish/winbot.application"}
      Scanning Application (Windows)
    %p.footnote
      Use to send scans to Gradians.com. Download on the PC connected to your scanner
-#
  %li
    = simple_link :for => "Using suggestion form", :id => 'lnk-suggestion-form',
    :href => "#{server}/front-desk/teachers/#{teacher.school_id}-#{teacher.id}/petty-cash/#{teacher.id}-#{teacher.first_name}.pdf"

