
#quizzes-summary.flipchart
  %ul
    %li
      %a{ :href => '#past-quizzes' }= "1. Quizzes"
    %li
      %a{ :href => '#sektion-list' }= "2. Groups"
    %li
      %a{ :href => '#student-list' }= "3. Students"
    %li
      %a{ :href => '#assign-quiz-receipt' }= "4. Summary"

  #past-quizzes
    #past-quizzes-list.as-accordion

  #sektion-list

  #student-list
    = semantic_form_for :students, :remote => true do |f|
      .submit-buttons.full-width
        %input{:type => :button, :class => 'middle check-all', :value => 'select all'}
        = submit_tag 'assign', :class => 'right'
      .purgeable
  #assign-quiz-receipt
    .what-now
      #job-position.big-ticker.left
        .ticker-margin-note= "Your request is"
        .ticker-display-value
        .ticker-margin-note= "in the queue"
      #job-eta.big-ticker.right
        .ticker-margin-note= "Check back after"
        .ticker-display-value
        .ticker-margin-note= "to download the PDF"
    .what-next
      %legend
        %span.target= "What happens now?"
        %p.instructions 
          Your request has been placed in a queue and will be 
          picked up automatically for processing
      %legend
        %span.target= "Can I logout now?"
        %p.instructions 
          Sure you can. If there is nothing else you need to do
          on the site at this time, then - by all means - logout. 
