
#build-quiz.flipchart
  %ul
    %li
      %a{ :href => '#courses-taught' }= "courses"
    %li
      %a{ :href => '#vertical-selection-list' }= "broadly"
    %li
      %a{ :href => '#topic-selection-list' }= "specific"
    %li
      %a{ :href => '#question-options' }= "pick"
  #courses-taught
  #vertical-selection-list
    = form_tag 'course/applicable_micros', :remote => true, :method => :put do |f| 
      .submit-buttons
        = submit_tag 'next'
      .form-fields
  #topic-selection-list
    = form_tag 'course/applicable_questions', :remote => true, :method => :put do |f| 
      .submit-buttons
        = submit_tag 'next'
      .form-fields
  #question-options
    = form_tag 'teacher/build_quiz', :remote => true, :method => :put do |f| 
      .submit-buttons
        = submit_tag 'build quiz'
      .form-fields
