
#build-quiz.flipchart
  %ul
    %li
      %a{ :href => '#courses-taught' }= "1. Courses"
    %li
      %a{ :href => '#topic-selection-list' }= "2. Topics"
    %li
      %a{ :href => '#question-options' }= "3. Questions"
    %li
      %a{ :href => '#build-quiz-receipt'}= "4. Summary"
  #courses-taught
  #topic-selection-list
    = form_tag course_questions_path, :remote => true, :method => :put do |f| 
      .submit-buttons
        .filters
          .filter
            = check_box_tag :skip_previously_used, true
            = label_tag :skip_previously_used, "skip questions used before"
          .filter
            = check_box_tag :liked, true
            = label_tag :liked, "my favourites"
          .filter
            = check_box_tag :suggested, true
            = label_tag :suggested, "suggested by me"
        = submit_tag 'next', :class => :right
      .form-fields.as-accordion
  #question-options
    #testpaper-span
      %div.left= "# of pages"
      .superscript= "+ 0 blank"
      .medium-ticker.right= "0 pgs"
    = form_tag 'teacher/build_quiz', :remote => true, :method => :put do |f| 
      .submit-buttons
        = text_field_tag :quiz_name, nil, :placeholder => "give the quiz a name", :size => 20
        = submit_tag 'build quiz'
      .form-fields.as-accordion

  #build-quiz-receipt
    .what-now
      #job-position.big-ticker.left
        .ticker-margin-note= "Your request is"
        .ticker-display-value
        .ticker-margin-note= "in the queue"
      #job-eta.big-ticker.right
        .ticker-margin-note= "Check back after"
        .ticker-display-value
        .ticker-margin-note= "to download the PDF"
    .what-next
      %legend
        %span.target= "What happens now?"
        %p.instructions 
          Your request has been placed in a queue and will be 
          picked up automatically for processing
      %legend
        %span.target= "Can I logout now?"
        %p.instructions 
          Sure you can. If there is nothing else you need to do
          on the site at this time, then - by all means - logout. 
          Or, continue using as normal. Either way, your request is safely 
          in the queue and will be processed
