
#build-quiz.flipchart
  %ul
    %li
      %a{ :href => '#courses-taught' }= "courses"
    %li
      %a{ :href => '#macro-selection-list' }= "broadly"
    %li
      %a{ :href => '#micro-selection-list' }= "specific"
    %li
      %a{ :href => '#question-options' }= "pick"
  #courses-taught
  #macro-selection-list
    = form_tag 'course/applicable_micros', :remote => true, :method => :put do |f| 
      .controls
        = submit_tag 'next'
      .form-fields
  #micro-selection-list
    = form_tag 'course/applicable_questions', :remote => true, :method => :put do |f| 
      .controls
        = submit_tag 'next'
      .form-fields
  #question-options
    = form_tag 'teacher/build_quiz', :remote => true, :method => :put do |f| 
      .controls
        = submit_tag 'next'
      .form-fields
