
#build-quiz.flipchart
  %ul
    %li
      %a{ :href => '#courses-taught' }= "courses"
    %li
      %a{ :href => '#vertical-selection-list' }= "broadly"
    %li
      %a{ :href => '#topic-selection-list' }= "specific"
    %li
      %a{ :href => '#question-options' }= "pick"
    %li
      %a{ :href => '#queue-graphic'}= "summary"
  #courses-taught
  #vertical-selection-list
    = form_tag 'course/applicable_topics', :remote => true, :method => :put do |f| 
      .submit-buttons
        = submit_tag 'next'
      .form-fields
  #topic-selection-list
    = form_tag 'course/applicable_questions', :remote => true, :method => :put do |f| 
      .submit-buttons
        = submit_tag 'next'
      .form-fields
  #question-options
    = form_tag 'teacher/build_quiz', :remote => true, :method => :put do |f| 
      .submit-buttons
        = submit_tag 'build quiz'
      .form-fields

  #queue-graphic
    .what-now
      #job-position.big-ticker.left
        .ticker-margin-note= "Your request is"
        .ticker-display-value
        .ticker-margin-note= "in the queue"
      #job-eta.big-ticker.right
        .ticker-margin-note= "Check back after"
        .ticker-display-value
        .ticker-margin-note= "to download the PDF"
    .what-next
      %legend
        %span.target= "What happens now?"
        %p.instructions 
          Your request has been placed in a queue and will be 
          picked up after some time for processing
      %legend
        %span.target= "Can I logout now?"
        %p.instructions 
          Sure you can. If there is nothing else you need to do
          at this time, then - by all means - logout. Or, continue using 
          the site. Either way, your request is safely in the queue
          and will be processed
