
- calibrations = Calibration.enabled.order('mcq_id DESC').order(:allotment)
- nonmcq = calibrations.where('mcq_id IS NULL')

#calibrations-summary
  #calibrations.left
    = form_tag "#{update_grades_path}?id=#{current_account.loggable_id}", :remote => true do |f|
      %ul
        - calibrations.each_with_index do |m,j|
          %li{ :colour => "#{m.colour?.to_s}" }
            %a.left{ :href => '#', :marker => "#{m.id}" }= "#{m.mcq_id.nil? ? "G#{j+1}" : "M#{j + 1 - nonmcq.count}" }"
            .marks-out-of.right
              = text_field_tag :allotment, nil, :name => "allotment[#{m.id}]", :size => 4, :maxlength => 4,
                :id => "allotment_#{m.id}", :marker => "#{m.id}"
              .denominator= "4"
  #calibrations-edit-understand.right
    #edit-calibrations
    #understand-calibrations
      = render :partial => 'toolbox/calibrations'
