
#edit-teacher.update-entity.close-on-submit
  = semantic_form_for :teacher, :url => '/teacher', :remote => true, :method => :put do |f|
    = f.inputs do
      = f.input :first_name, :input_html => { :marker => :first_name }
      = f.input :last_name, :input_html => { :marker => :last_name }
      = f.input :subject_ids, :label => 'teaches?', :as => :select, 
                :collection => Subject.all, :multiple => true, :input_html => { :marker => :subject_ids }
    .controls
      = submit_tag 'update teacher'
