-# Variable teacher comes from the layout file 

- indie = current_account.loggable.indie

%ul.nav.nav-tabs{ data: {'always-on' => "#{indie}" } } 
  %li
    = simple_link for: "Quizzes", href: '#pane-exb-quizzes', id: 'tab-exb-quizzes'
  - unless indie
    %li
      = simple_link for: 'Assignments', href: '#pane-exb-existing', id: 'tab-exb-existing'
    %li
      = simple_link for: "Make New", href: '#pane-exb-sektions', id: 'tab-exb-sektions', class: 'nopurge-ever'
  - if indie
    %li
      = simple_link for: "Courses", href: "#pane-online-courses", id: 'tab-online-courses'

.tab-content
  #pane-exb-quizzes.tab-pane.scroll
  - unless indie
    #pane-exb-existing.tab-pane.scroll
    #pane-exb-sektions.tab-pane.scroll
      = render partial: 'teachers/exb-sektions', locals: { teacher: teacher }
  - if indie
    #pane-online-courses.tab-pane.scroll

    
