
- my_sektions = teacher.sektions.order(:end_date).select{ |m| m.active? }
- my_sektions = my_sektions.blank? ? Sektion.where(id: 58) : my_sektions

-# Left-side tabs - one per section
#sektions-tab.tabbable.tabs-left
  %ul.nav.nav-tabs.span3{ id: 'exb-ul-milestone-2' }
    - my_sektions.each_with_index do |m,j|
      %li
        = simple_link for: "#{m.name}", toggle: :tab, marker: "#{m.id}", href: "#exb-sektions", 
        url: { self: "sektion/students.json?id=#{m.id}&context=wsb&quiz=:prev" }, prev: 'tab-exb-quizzes'

  -# List of students - by sektion - shown in a sektion-specific tab and wrapped in a <form>
  .tab-content.span8{ :id => 'exb-div-milestone-3' }
    = simple_form_for :checked, remote: true, defaults: { label: false, required: false }, html: { id: 'form-exb-3', 
    class: 'multi-select', data: { action: "#{quiz_mass_assign_path}?id=:id", id: 'tab-exb-quizzes' } } do |f|
      .btn-toolbar.purge-skip
        .btn-group
          = simple_button icon: 'icon-list', id: 'select-all-for-quiz', tooltip: 'Select All', placement: :right
        .btn-group
          = simple_link for: 'Make PDF', icon: 'icon-cog', id: 'lnk-build-ws', class: 'btn btn-inverse'
        .hide.ws-option
          = f.input :etype, input_html: { name: :etype }
          = f.input :deadline, input_html: { name: :deadline } 
          = f.input :duration, input_html: { name: :duration } 

      #exb-sektions.tab-pane.multi-select

