
#new-teacher.clear-after-submit
  %legend= "New Teacher"
  = semantic_form_for :teacher, :remote => true, :url => teacher_path do |f|
    .submit-buttons
      = submit_tag 'add teachers'

    = f.inputs :name => :mandatory do 
      - [*1..5].each do |i|
        = f.input :name, :input_html => {:name => "names[#{i}]", :id => "teacher_#{i}"}, 
                         :label => "teacher ##{i}"
