
#new-teacher.clear-after-submit
  %legend
    %span.target= "Teacher"
    %span.operation= "Quick Add"
  = semantic_form_for :teacher, :remote => true, :url => teacher_path do |f|
    .controls
      = submit_tag 'add new teacher'

    = f.inputs :name => :mandatory do 
      = f.input :name, :input_html => { :name => "teacher[name]" }
      = f.input :subjects, :label => 'teaches?', :as => :select, 
                :collection => Subject.all, :include_blank => false, :multiple => true
