
-# Left-side tabs - one per vertical

= simple_form_for :checked, :remote => true, :url => qzb_echo_path, 
  :html => { :id => 'form-qzb-topics', :class => 'no-remove'} do |f|

  .row-fluid.navbar
    = f.button :submit, :class => 'btn-inverse pull-right', :value => "Show Questions"
  #vert-tab.tabbable.tabs-left.no-remove
    %ul.nav.nav-tabs.span4.nopurge-on-show
      - teacher.verticals.each do |m|
        %li{ :marker => "#{m.id}" }
          = simple_link :for => "#{m.name}", :toggle => :tab, 
          :href => "#vert-#{m.id}", :url => "course/topics_in?id=:prev&vertical=:id",
          :prev => 'tab-qzb-courses', :class => :writeonce

    -# List of students - by sektion - shown in a sektion-specific tab and wrapped in a <form>
    .tab-content.span7
      - teacher.verticals.each do |m|
        .tab-pane.multi-select{ :id => "vert-#{m.id}" }
