
-# Left-side tabs - one per vertical
-# 'context' comes from parent partial

= simple_form_for :checked, :remote => true, :url => "#{qzb_echo_path}?context=#{context}", 
  :html => { :id => "form-#{context}-topics" } do |f|

  .row-fluid.navbar.purge-skip
    = f.button :submit, :class => 'btn-inverse pull-right', 
      :value => "Show Questions", :id => "#{context}-btn-milestone-4"
  -#
    .btn-group{ 'data-toggle' => 'buttons-checkbox' }
      = simple_button :icon => 'icon-thumbs-up', :as => :checkbox, 
        :name => "filter[liked]", :for => 'liked'

      = simple_button :icon => 'icon-ban-circle', :as => :checkbox, 
        :name => "filter[repeated]", :for => 'ignore used'

  %div.tabbable.tabs-left{ :id => "#{context}-verticals-tab" }
    %ul.nav.nav-tabs.span4.purge-skip.nopurge-ever{ :id => "#{context}-ul-milestone-2" }
      - Vertical.all.each do |m|
        %li{ :marker => "#{m.id}" }
          = simple_link :for => "#{m.name}", :toggle => :tab, 
          :href => "##{context}-#{m.id}", :url => { :self => "vertical/topics.json?id=:id&context=#{context}" }

    .tab-content.span7{ :id => "#{context}-div-milestone-4" }
      - Vertical.all.each do |m|
        .tab-pane.multi-select{ :id => "#{context}-#{m.id}" }
