
#report-cards-summary.flipchart
  %ul
    %li
      %a{ :href => '#testpaper' }= "1. Testpaper"
    %li
      %a{ :href => '#student' }= "2. Student"
    %li
      %a{ :href => '#preview' }= "3. Preview"

  #testpaper
  #student
  #preview
    #overview.purgeable

#report-card-controls.top-panel-controls
  %ul.no-bullets
    = minor_link :for => 'deep-dive', :as => 'deep dive',
                 :with => {:panels => {:side => '#deep-dive', :wide => '#flot-chart' }}

#deep-dive.flipchart
  %ul
    %li
      %a{ :href => '#deep-dive-section' }= "section"
    %li
      %a{ :href => '#deep-dive-topic' }= "topic"

  #deep-dive-section
  #deep-dive-topic
