
#teacher-specialization
  = semantic_form_for :specialization, :remote => true, :url => update_specialization_path do |f|
    .submit-buttons
      = submit_tag 'update'
    #specialization-chart.as-accordion 
      - Subject.all.each do |sbj|
        .scroll-heading{ :marker => "#{sbj.id}" }= "#{sbj.name}"
        .scroll-content
          - [*9..12].each do |grd|
            .list-item{ :marker => "#{grd}" }
              = check_box_tag "subject[#{sbj.id}][#{grd}]", true
              = label_tag "subject[#{sbj.id}][#{grd}]", "Grade #{grd}"
