
- my_sektions = teacher.sektions 
- my_sektions = my_sektions.blank? ? Sektion.where(:id => 58) : my_sektions

-# Left-side tabs - one per section
#sektions-tab.tabbable.tabs-left
  %ul.nav.nav-tabs.span3{ :id => 'wsb-ul-milestone-2' }
    - my_sektions.each do |m|
      %li
        = simple_link :for => "#{m.label}", :toggle => :tab, :marker => "#{m.id}",
        :href => "#wsb-sektions", :url => "sektion/students.json?id=#{m.id}&context=wsb&quiz=:prev",
        :prev => 'tab-wsb-quizzes'

  -# List of students - by sektion - shown in a sektion-specific tab and wrapped in a <form>
  .tab-content.span8{ :id => 'wsb-div-milestone-3' }
    = simple_form_for :checked, :remote => true, 
    :html => { :id => 'form-wsb-3', :class => 'multi-select', 
    :data => { :action => "#{quiz_assign_path}?id=:id", :id => 'tab-wsb-quizzes'} } do |f|
      .btn-toolbar.purge-skip
        .btn-group
          = simple_button :icon => 'icon-list', :id => 'select-all-for-quiz',
            :tooltip => "Select All", :placement => :right
          -#= simple_button :icon => 'icon-envelope', :id => 'btn-publish-ws', :toggle => :button,
            :tooltip => "Send PDFs to students", :class => 'btn-primary', :placement => :right
        .btn-group
          = simple_button :icon => 'icon-wrench', :id => 'build-worksheet', :for => "Make PDF", :type => :submit
      #wsb-sektions.tab-pane.multi-select

