
-# Left-side tabs - one per section
#sektions-tab.tabbable.tabs-left.no-remove
  %ul.nav.nav-tabs.span3
    - teacher.sektions.each do |m|
      %li
        = simple_link :for => "#{m.label}", :toggle => :tab, :marker => "#{m.id}",
        :href => "#lp-sektion-#{m.id}", :ajax => "sektion/students.json?id=#{m.id}"

  -# List of students - by sektion - shown in a sektion-specific tab and wrapped in a <form>
  .tab-content.span8
    .btn-group.no-remove
      %button.btn.btn-inverse#select-all-for-quiz= "Select All"
      %button.btn.btn-inverse#build-worksheet= "Build Worksheet"
    - teacher.sektions.each do |m|
      = simple_form_for :checked, :url => quiz_assign_path, :remote => true,
      :html => { :id => "lp-sektion-#{m.id}", :class => 'multi-select'} do |f|
        .tab-pane.multi-select

