
#sign-in-form
  = semantic_form_for :account, :url => session_path(:account) do |f|
    = f.inputs do
      = f.input :login
      = f.input :password, :as => :password
    .reminders.right
      - if devise_mapping.recoverable? && controller_name != 'passwords'
        = link_to 'Forgot your password?', new_password_path(:account)
    .submit-buttons
      = submit_tag 'login'

