
-# teacher and server come from layout file

%ul#teacher-quiz.dropdown-menu.pull-right
  %li.nav-header= "quiz"
  %li
    %a#lnk-new-quiz{ :href => '#'}= "New Quiz"
    %a#lnk-existing-quiz{ :default => :true, :href => '#'}= "Existing Quizzes"
  %li.divider
  %li.nav-header= "Suggest Questions"
  %li
    %a#lnk-suggestion-form{ :href => "#{server}/front-desk/teachers/#{teacher.school_id}-#{teacher.id}/petty-cash/#{teacher.id}-#{teacher.first_name}.pdf"}= "Suggestion Form"
  %li
    %a#lnk-upload-suggestion{ :href => "#"}= "Uploading a Word document"
