
%p
  This is to let you know that assignment <b>#{@exam.name}</b> for quiz <b>#{@quiz.name}</b>
  has been graded. The mean score - over the <b>#{@exam.student_ids.count}</b> student(s) - 
  is <b>#{@mean} out of #{@max}</b>. You can view individual results for students by logging-in into your account
%p
  <b>Gradians Support Team</b>
