
%p
  Dear #{@s.first_name},
%p
  Please <b>re-upload</b> your solution to the following problem
  %ul
    %li
      <b>Quiz</b>: #{@quiz}
      <b>Question</b>: #{@question}
%p
  The image you uploaded earlier has the following issue(s):
  %ul
    - for reason in @reasons 
      %li= "#{reason}"
%p
  <b>Tips for taking a clear image</b>
  %ul
    %li
      Place the sheet of paper on some surface, like a table. Do <b>not</b> hold it in your hand while 
      taking a photograph.
    %li
      As far as possible, capture only the sheet of paper and nothing around it. 
    %li
      Keep your mobile phone steady as you do.
%p
  Thanks,
%p
  Team Gradians.com
