
%h3= "Thank you for registering with Gradians.com"
%p
  Your <b>free account</b> has been created. You can access it using the login
  and password below
%p
  <b>Username</b>: #{@account.email}
  <b>Password</b>: #{@account.password}

%h4= "What next?"

%p
  %ol
    %li= "Login using your email and password above"
    %li= "Make a quiz by picking topics in the sample syllabus"
    %li 
      Assign this quiz to students in the sample class.  
    %li
      Download and print the testpaper PDF. 
    %li
      Scan the testpaper and send it to us using our downloadable scanning utility.
      We will grade the papers and the reports would become available in your account
%p
  There is <b>no limit</b> on how many times you can repeat the above cycle. 
  And use the online How-To documentation. It covers all the steps 
  described above and can be of great help while getting started
%p
  Needless to say, we are here to help as you try gradians.com out. Write to 
  us on <b>help@gradians.com</b> with any queries that you may have 
%p
  <b>Gradians Support Team</b>

