
%h3= "Thank you for registering with Gradians.com"
%p
  Your <b>trial account</b> has been created. You can access it using the login
  and password below
%p
  <b>Username</b>: #{@account.email}
  <b>Password</b>: #{@password}
%h4= "What next?"
%p
  We think we have created something teachers would find useful. But we want you to experience
  the site first - no strings attached. The trial account allows you do just that so that you can 
  make an informed decision about whether or not you want to officially sign-up with us
%p 
  When you login, you will be provided with a sample syllabus and a sample class of students.
  The syllabus has a little bit of calculus, a little algebra, some geometry and so on. In all,
  you will have access to some 60-odd questions with which to make quizzes for your sample class
%p
  To experience the site,
  %ol
    %li= "Login using the username and password above"
    %li= "Make a quiz by picking topics in the sample syllabus"
    %li 
      Assign this quiz to students in the sample class. We suggest that you first 
      try this step out with just one student (see next point) before trying it 
      out with multiple students
    %li
      Download and then printout the exam PDF. Pretend to be your own student
      and write responses as a student would. To make the whole exercise a little 
      more realistic, <b>make some intentional mistakes</b>
    %li
      Scan the exam and send it to us using our downloadable scanning utility.
      We will grade the papers and the reports would become available in your account
%p
  There is <b>no limit</b> on how many times you can repeat the above cycle. 
  And don't forget to watch our <b>video tutorials</b>. They cover all the steps 
  described above and are a great help if getting started
%p
  Needless to say, we are here to help as you try gradians.com out. Write to 
  us on <b>help@gradians.com</b> with any queries that you may have 
%p
  <b>Gradians Support Team</b>

