
#grade-abacus
  #current-items
    #current-student.left
    #current-question.right
  = semantic_form_for :grade, :url => assign_grade_path, :remote => true do |f|
    #abacus.as-accordion
      .scroll-heading{ :marker => 0 }= "Insight"
      #insight.scroll-content.measure
        - Yardstick.insights.order(:weight).each do |m|
          .level{ :marker => "#{m.id}" }
            %input.left{ :type => :radio, :name => "yardstick[#{m.id}]", :value => true }
            .label.left
              <b>#{m.bottomline}&nbsp&nbsp&nbsp</b>#{m.meaning}

      .scroll-heading{ :marker => 1 }= "Formulation"
      #formulation.scroll-content.measure
        - Yardstick.formulations.order(:weight).each do |m|
          .level{ :marker => "#{m.id}" }
            %input.left{ :type => :radio, :name => "yardstick[#{m.id}]", :value => true }
            .label.left
              <b>#{m.bottomline}&nbsp&nbsp&nbsp</b>#{m.meaning}

      .scroll-heading{ :marker => 2}= "Calculation"
      #calculation.scroll-content.measure
        - Yardstick.calculations.order(:weight).each do |m|
          .level{ :marker => "#{m.id}" }
            %input.left{ :type => :radio, :name => "yardstick[#{m.id}]", :value => true }
            .label.left
              <b>#{m.bottomline}&nbsp&nbsp&nbsp</b>#{m.meaning}
