
%ul.nav.nav-tabs.always-on
  %li
    = simple_link :for => "To Do", :id => 'tab-audit-todo', :href => '#pane-audit-todo'
  %li
    = simple_link :for => "Review", :id => 'tab-audit-review', :href => '#pane-audit-review'

.tab-content
  #pane-audit-todo.tab-pane
    .row-fluid.no-remove
      .btn-group.pull-left
        = simple_link for: 'Oldest', class: 'btn btn-inverse', 
          id: 'lnk-audit-oldest', href: "#{audit_todo_path}?t=oldest", remote: true
        = simple_link for: 'Newest', class: 'btn btn-inverse', 
          id: 'lnk-audit-newest', href: "#{audit_todo_path}?t=newest", remote: true
      .btn-group.pull-right
        = simple_link :for => "Edit", :class => 'btn btn-inverse', :id => 'lnk-edit-form'
        = simple_link :for => "Audit", :class => 'btn btn-inverse', :id => 'lnk-audit-form'
  #pane-audit-review.tab-pane
