
#new-examiner.clear-after-submit
  %legend
    %span.target= "examiner"
    %span.operation= "Quick Add"
  = semantic_form_for :examiner, :remote => true, :url => examiner_path do |f|
    = f.inputs do
      = f.input :first_name
      = f.input :last_name 
      = f.input :is_admin, :label => 'Admin ?', :as => :boolean

    .submit-buttons
      %input{:type => :submit, :role => :button, :value => "Create", :name => "commit"}
