

#new-examiners.clear-after-submit
  %p.instructions
    Check the box to give Admin priviliges
  = semantic_form_for :examiner, :remote => true, :url => examiner_path do |f| 
    .submit-buttons
      = submit_tag 'add examiners'

    = f.inputs do 
      - [*1..5].each do |i|
        = f.input :name, :input_html => {:name => "examiners[#{i}][name]", :id => "examiner_#{i}"}, :label => "##{i}"
        %input.right{ :type => :checkbox, :name => "examiners[#{i}][admin]" }

