
#pending-summary.flipchart
  %ul
    %li
      %a{ :href => '#examiner-untagged' }= "Pending"
    %li
      %a{ :href => '#macro-selection' }= "Macros"
    %li
      %a{ :href => '#micro-selection' }= "Micros"
    %li
      %a{ :href => '#misc-traits' }= "Misc"
  #examiner-untagged
  #macro-selection
  #micro-selection
  #misc-traits

#pending-controls.top-panel-controls
  %ul.no-bullets
    = minor_link :for => 'grading', :label => 'scans to grade', 
                 :with => {:panels => {:side => '#ungraded-responses'}}
    
