
#pending-suggestions.flipchart.all-active
  %ul
    %li
      %a{ :href => '#typeset-noslots' }= "Newly In"
    %li
      %a{ :href => '#typeset-wip' }= "In Progress"
    %li
      %a{ :href => '#typeset-completed' }= "Completed"
  #typeset-noslots
    = semantic_form_for :suggestions, :url => suggestion_block_db_slots_path, :remote => true do |f|
      .submit-buttons.full-width
        = submit_tag 'block db slots', :class => 'right'
      #days-since-receipt.as-accordion
        .scroll-heading{ :marker => 3 }= "> 1 month"
        .scroll-content
        .scroll-heading{ :marker => 2 }= "15 days - 1 month"
        .scroll-content
        .scroll-heading{ :marker => 1 }= "7-14 days"
        .scroll-content
        .scroll-heading{ :marker => 0 }= "This week"
        .scroll-content

  #typeset-wip
  #typeset-completed
        
