
%ul.nav.nav-tabs
  %li
    = simple_link for: "Question", href: '#pane-untagged-1', id: 'tab-untagged-1', reload: true
  %li
    = simple_link for: "On Topic", href: '#pane-untagged-2', id: 'tab-untagged-2'
  %li
    = simple_link for: "Misc", href: '#pane-untagged-3', id: 'tab-untagged-3'

.tab-content
  #pane-untagged-1.tab-pane
  #pane-untagged-2.tab-pane
    = render partial: 'topics/selector', locals: { context: :tag, onepane: true }
  #pane-untagged-3.tab-pane
    = render :partial => 'examiners/tag-misc'
