
#tag-misc-properties.no-remove
  -# 'action' for <form> within .tab-pane are evaluated just before submission
  -# Use this fact to your advantage by specifying the requisite data-* attributes

  = simple_form_for :misc, remote: true, defaults: { label: false },
    html: { 'data-action' => 'tag/question?id=:id', 'data-id' => 'tab-untagged-1' } do |f| 
    .row-fluid
      .span4
        = f.input :level, hint: 'target level', selected: '3',
          collection: { 'Grd < 9' => 1, '9-10' => 2, '11-12' => 3, 'University' => 4 } 
      .span2
        = f.input :total, collection: [*1..7], hint: 'total parts', input_html: { id: 'num-subparts' }
      .span3
        = f.input :calculator, collection: { yes: true, no: false }, hint: 'calculator?', selected: :false
      .span2
        = f.button :submit, class: 'btn-primary', value: 'Tag' 
    - [*1..7].each do |k|
      .row-fluid.subpart-tagging
        .span1.offset1.label= "##{k}"
        .span5
          = f.input :length, input_html: { name: "subpart[#{k}][length]" },
            collection: { mcq: 1, short: 4, half: 2, full: 3 }, selected: 2
        .span3
          = f.input :marks, input_html: { name: "subpart[#{k}][marks]" }, 
            collection: [*1..6], selected: 3

