
#ungraded-responses.flipchart
  %ul
    %li
      %a{ :href => '#pending-quizzes' }= "Quizzes"
    %li
      %a{ :href => '#pending-pages' }= "Pages"
    %li
      %a{ :href => '#pending-scans' }= "Scans"

  #pending-quizzes
  #pending-pages
  #pending-scans
    #list-pending.purgeable.hidden
    .submit-buttons
      %input#undo-btn{ :type => :button, :value => "Undo Last" }
    #grading-panel
      = semantic_form_for :grade, :remote => true, :method => :put, :url => 'assignGrades' do |f|
        - [*1..4].each do |index|
          .grd-control{ :id => "grd-control-#{index}" }
            .grd-label.left= "Q#{index}."
            .grd-slider.left{ :id => "grd-slider-#{index}" }
            .grd-ticker.right{ :id => "grd-ticker-#{index}" }
            = f.input "assigned_#{index}", :as => :number, :wrapper_html => { :class => :hidden},
              :input_html => { :name => "grade[#{index}]" }
        = f.input :annotation, :wrapper_html => { :class => :hidden },
          :input_html => { :name => :clicks }
        .submit-buttons
          = submit_tag "Assign"

