
#ungraded-responses.flipchart
  %ul
    %li
      %a{ :href => '#pending-quizzes' }= "1. Quizzes"
    %li
      %a{ :href => '#pending-pages' }= "2. Pages"
    %li
      %a{ :href => '#pending-scans' }= "3. Grade It!"

  #pending-quizzes
  #pending-pages
  #pending-scans
    #list-pending.hidden
    #flash-memory.hidden
      - Calibration.enabled.each do |m|
        %div{ :marker => "#{m.id}", :i => "#{m.insight_id}", 
        :f => "#{m.formulation_id}", 
        :c => "#{m.calculation_id}",
        :m => "#{m.mcq_id}" }
    = render :partial => 'examiners/abacus'

