
-# A question can have either no sub-parts (standalone) or a minimum of two sub-parts
-# Saying that a question has one sub-part makes no sense

#workbenches-summary.flipchart
  %ul
    %li
      %a{ :href => '#examiner-untagged' }= "Question"
    %li
      %a{ :href => '#vertical-selection' }= "Vertical"
    %li
      %a{ :href => '#topic-selection' }= "Topic"
    %li
      %a{ :href => '#misc-traits' }= "Tag Question"
  #examiner-untagged
  #vertical-selection
  #topic-selection
  #misc-traits
    = semantic_form_for :misc, :remote => true, :url => '/question', :method => :put do |f|
      = f.inputs do
        = f.input :difficulty, :as => :select, :include_blank => false,
                  :collection => {:introductory => 1, :intermediate => 2, :advanced => 3},
                  :wrapper_html => {:class => 'full-width'},
                  :label => 'topic treatment'
        = f.input :num_parts, :as => :select, :include_blank => true, :label => '# sub-parts',
                  :collection => [*0..9]-[1], :wrapper_html => {:class => 'full-width'}
        - for k in [*0..9]-[1]
          - label = ( k == 0 ) ? "main OR ##{k+1}" : "subpart ##{k}"
          %div{ :id => "subpart-tags-#{k}", :class => 'subpart-tags full-width hidden'}
            = f.input :length, :as => :select, :collection => { :mcq => 1, 'half-page' => 2, 'full-page' => 3 },
                      :include_blank => true, :label => false, 
                      :input_html => { :name => "length[#{k}]", :id => "subpart_#{k}" },
                      :wrapper_html => { :class => 'length' }
            = f.input :marks, :as => :select, :collection => [*1..6], :include_blank => true,
                      :input_html => { :name => "marks[#{k}]", :id => "subpart_marks_#{k}" },
                      :wrapper_html => { :class => 'marks' },
                      :label => label
      .submit-buttons
        = submit_tag 'update'

#workbench-controls.top-panel-controls
  %ul.no-bullets
    = minor_link :for => 'grading', :as => 'scans to grade', 
                 :with => {:panels => {:side => '#ungraded-responses', :wide => '#grading-canvas'}}
    = minor_link :for => 'db-slots', :as => 'add questions to db'
    = minor_link :for => 'new-scans', :as => 'get new scans'

  = form_tag questions_list_path, :method => :get, :remote => true, :class => 'right' do |f| 
    = semantic_fields_for :qsearch do |a|
      = a.input :by, :as => :select, :collection => Examiner.order(:last_name).map{ |m| {m.name => m.id} }.inject(:merge)
      = a.input :on, :as => :select, :collection => Vertical.order(:name).map{ |m| {m.name => m.id} }.inject(:merge)
      = a.input :tagged, :as => :select, :collection => {:no => false, :yes => true}, :include_blank => false
    = submit_tag 'Search'
    
