
-# A question can have either no sub-parts (standalone) or a minimum of two sub-parts
-# Saying that a question has one sub-part makes no sense

#workbenches-summary.flipchart
  %ul
    %li
      %a{ :href => '#examiner-untagged' }= "1. Question"
    %li
      %a{ :href => '#topic-selection' }= "2. Topic"
    %li
      %a{ :href => '#misc-traits' }= "3. Misc Tags"
  #examiner-untagged
  #topic-selection
    #tag-question-topics.as-accordion
  #misc-traits
    = semantic_form_for :misc, :remote => true, :url => question_path do |f|
      = f.inputs do
        = f.input :difficulty, :as => :select, :include_blank => false,
                  :collection => {'junior school (<9)' => 1, 'middle (9-10)' => 2, 'senior (11-12)' => 3},
                  :wrapper_html => {:class => 'full-width'},
                  :label => 'topic treatment'
        = f.input :calculation_aid, :as => :select, :include_blank => false, 
                  :collection => {'none' => 0, 'scientific calc.' => 1, 'graphing calc.' => 2, 'log tables' => 3},
                  :wrapper_html => {:class => 'full-width'},
                  :label => 'calculators ?'
        = f.input :restricted, :as => :select, :include_blank => false,
                  :collection => {'yes' => true, 'no' => false },
                  :label => 'restricted ?'
        = f.input :num_parts, :as => :select, :include_blank => true, :label => '# sub-parts',
                  :collection => [*0..9]-[1], :wrapper_html => {:class => 'full-width'}
        - for k in [*0..9]-[1]
          - label = ( k == 0 ) ? "main OR ##{k+1}" : "subpart ##{k}"
          %div{ :id => "subpart-tags-#{k}", :class => 'subpart-tags full-width hidden'}
            = f.input :length, :as => :select, 
                      :collection => { :mcq => 1, 'few lines' => 4, 'half-page' => 2, 'full-page' => 3 },
                      :include_blank => true, :label => false, 
                      :input_html => { :name => "length[#{k}]", :id => "subpart_#{k}" },
                      :wrapper_html => { :class => 'length' }
            = f.input :marks, :as => :select, :collection => [*1..6], :include_blank => true,
                      :input_html => { :name => "marks[#{k}]", :id => "subpart_marks_#{k}" },
                      :wrapper_html => { :class => 'marks' },
                      :label => label
      .submit-buttons
        = submit_tag 'update'

#workbench-controls.top-panel-controls
  %ul.no-bullets
    = minor_link :for => 'grading', :as => 'scans to grade', 
                 :with => {:panels => {:side => '#ungraded-responses', :wide => '#grading-canvas'}}
    = minor_link :for => 'db-slots', :as => 'new db slots'
    = minor_link :for => 'new-scans', :as => 'receive scans'
    = minor_link :for => 'suggestions', :as => 'typeset these', 
                 :with => {:panels => {:side => '#pending-suggestions', :wide => '#'}}


  = form_tag questions_list_path, :method => :get, :remote => true, :class => 'right' do |f| 
    = semantic_fields_for :qsearch do |a|
      = a.input :by, :as => :select, 
      :collection => Examiner.order(:first_name).map{ |m| {m.name => m.id} }.inject(:merge)
      = a.input :on, :as => :select, :collection => Vertical.order(:name).map{ |m| {m.name => m.id} }.inject(:merge)
      = a.input :tagged, :as => :select, :collection => {:no => false, :yes => true}, :include_blank => false
    = submit_tag 'Search'
    
