
#workbenches-summary.flipchart
  %ul
    %li
      %a{ :href => '#examiner-untagged' }= "Pending"
    %li
      %a{ :href => '#macro-selection' }= "Macros"
    %li
      %a{ :href => '#micro-selection' }= "Micros"
    %li
      %a{ :href => '#misc-traits' }= "Misc"
  #examiner-untagged
  #macro-selection
  #micro-selection
  #misc-traits
    = semantic_form_for :misc, :remote => true, :url => '/question', :method => :put do |f|
      = f.inputs do
        = f.input :id, :wrapper_html => { :class => 'hidden' }
        = f.input :micro_topic_id, :wrapper_html => { :class => 'hidden' }
        = f.input :marks, :as => :select, :include_blank => false,
                  :collection => [*1..6], 
                  :wrapper_html => {:class => 'full-width'}
        = f.input :difficulty, :as => :select, :include_blank => false,
                  :collection => {:introductory => 1, :intermediate => 2, :advanced => 3},
                  :wrapper_html => {:class => 'full-width'},
                  :label => 'topic treatment'
        = f.input :page_length, :as => :select, :include_blank => false,
                  :collection => {'mcq' => 1, 'half-page' => 2, 'full-page' => 3},
                  :wrapper_html => {:class => 'full-width'}
        = f.input :multi_correct, :as => :select, :include_blank => false,
                  :collection => {:no => false, :yes => true}, :label => '>1 choice correct',
                  :wrapper_html => {:class => 'full-width'}
        = f.input :num_parts, :as => :select, :include_blank => false, :label => '# sub-parts',
                  :collection => [*1...6], :wrapper_html => {:class => 'full-width'}
      .controls
        = submit_tag 'submit'

#workbench-controls.top-panel-controls
  %ul.no-bullets
    = minor_link :for => 'grading', :as => 'scans to grade', 
                 :with => {:panels => {:side => '#ungraded-responses'}}
    = minor_link :for => 'db-slots', :as => 'add questions to db'
    = minor_link :for => 'new-scans', :as => 'get new scans'
    
