
#new-topic.new-entity.close-on-submit
  = semantic_form_for :topic, :remote => true do |f| 
    = f.inputs do 
      = f.input :name 
      = f.input :category, :label => 'Category', :as => :select, 
                           :collection => BroadTopic.all
      = f.input :new_category, :hint => 'Create a new category if none of the above apply'
    .submit-buttons
      %input{:type => :submit, :role => :button, :value => "Add", :name => "commit"}
