
#school-controls.top-panel-controls
  %ul.no-bullets
    = minor_link :for => 'add-n-edit-school', :as => 'Add & Edit School', 
                 :with => {:panels => {:middle => '#new-school', :right => '#edit-school'} }
    = minor_link :for => 'edit-roster', :as => 'Faculty Roster', 
                 :with => { :panels => { :middle => '#teachers-list', :right => '#edit-student-klass-mapping'} },
                 :select_sth => true
    = minor_link :for => 'new-studygroups', :as => 'New Sections',
                 :with => { :panels => { :middle => '#new-studygroups' } },
                 :select_sth => true
    = minor_link :for => 'edit-studygroups', :as => 'Edit Sections', 
                 :with => {:panels => {:middle => '#studygroups-radiolist', :right => '#student-list'} },
                 :select_sth => true

  = form_tag schools_list_path, :method => :get, :remote => true, :class => 'right' do |f| 
    = drop_down_menu_for :states
    = submit_tag 'Search'
