
#m-founders.modal.lateral-slide.fade
  .row-fluid.underline
    .span4.offset2.title.large= 'The Founders'
  .row-fluid.push-down
    .span1
    .span1
      = image_tag 'founders/abhinav-53714.png'
    .span4
      .title= 'Abhinav Chaturvedi'
      %p
        Abhinav believes that every student is atmost one mistake away 
        from getting to the right answer. 
      %p 
        Which is why he believes that if students are to avoid 
        making mistakes, they must first learn to identify them. 
      %p 
        Other than that, Abhinav has previously worked in the 
        Electronics Design Automation (EDA) industry where he 
        developed design tools for semiconductor companies. He continues 
        to love programming and is still holding onto his first 
        computer - Sinclair's ZX Spectrum - that he got on his 10-th birthday.
      %p 
        Abhinav also holds an MBA from UCLA's Anderson School of Management.
         
      .personal.push-down
        .email
          %span.orange= 'Email'
          %span= 'abhinav@gradians.com'
        .sport
          %span.orange= 'Plays'
          %span= 'Squash'
        .sportsperson
          %span.orange= 'Favourite Sportsperson'
          %span= 'Amr Shabana (EGY)'
        .eyesight
          %span.orange= 'Vision'
          %span= '-5.5'
    .span1
      = image_tag 'founders/akshay-53705.png'
    .span4
      .title= 'Akshay Damarla'
      %p
        A graduate of NYU's Courant Institute of Mathematical Science,
        Akshay has been involved with Prepwell from its inception. 
        He worked in the Financial Services industry for several years
        before joining Abhinav and brings with him an appreciation for 
        technology driven analysis and data management.
      %p
        While in graduate school he worked in the New York City public
        school system as part of an NYU initiative which sent students to
        High Schools to help as Teaching Assistants.
      %p
        He shares Abhinav's passion for elegant Software systems 
        and also for sports.
      .personal.push-down
        .email
          %span.orange= 'Email'
          %span= 'akshay@gradians.com'
        .sport
          %span.orange= 'Plays'
          %span= 'Tennis'
        .sportsperson
          %span.orange= 'Favourite Sportsperson'
          %span= 'Roger Federer (SUI)'
        .eyesight
          %span.orange= 'Vision'
          %span= 'X-Ray'
