
- student = Student.new 

#m-register.modal.regular.fade.row-fluid
  .span2
  .span8
    -# Student Registration Form
    #pane-register-2
      %p.title.underline= "Student Registration"
      = simple_form_for student, url: match_student_path, validate: true, remote: true, 
      defaults: { required: false }, html: { id: 'fm-register-student' } do |f|
        = f.input :name
        = f.input :code, hint: "Your Teacher would have provided you this"
        %input.hide{ type: :string, data: { validate: false }, name: 'teacher[guard]' } 
        %button.btn.btn-large.btn-primary.push-down.pull-right{type: :submit}= "Check Name"
  -#
    #who-are-you.row-fluid
      %p.title= "Hi! Welcome. You are a ... "
      = simple_link for: "Student", id: 'btn-register-student', class: 'btn btn-info btn-large pull-left'
      = simple_link for: "Teacher", id: 'btn-register-teacher', class: 'btn btn-primary btn-large pull-right'

    -# Teacher Registration Form
    #pane-register-1.hide
      %p.title= "Teacher Registration"
      = simple_form_for teacher, url: register_teacher_path, validate: true,
      html: { id: 'fm-register-teacher' }, defaults: { required: false } do |f|
        = f.input :name
        = f.simple_fields_for teacher_account, validate: true do |m|
          = m.input :email
          = m.input :password
        %input.hide{ type: :string, data: { validate: false }, name: 'teacher[guard]' } 
        %button.btn.btn-large.btn-primary.push-down.pull-right{type: :submit}= "Register"

