
- yardsticks = Yardstick.order(:default_allotment).order(:mcq)

#yardsticks-summary.left
  .vertical-tabs 
    %ul
      - yardsticks.each_with_index do |y,j|
        - j_as_hex = j.to_s(16).upcase
        %li
          %a{ :id => "tab-ys-#{j_as_hex}", :href => "#ys-#{j}", :marker => "#{y.id}" }= "#{j_as_hex}"

    - yardsticks.each_with_index do |y,j|
      %div{ :id => "ys-#{j}" }
        %div.header
          %a.edit{ :href => '#', :marker => "#{y.id}" } Edit
        %h4 What does it mean?
        %p= y.meaning
        %h4 For example ...
        %p= y.example
