
#faq-grading.row-fluid
  %h1.white= "Questions on grading" 
  .span5
    %p.question= "I know my students and I grade accordingly. Why should I trust your grading?"
    %p
      True. We do not know your students and it is unlikely that we will ever get 
      to know them personally
    %p
      All that we offer, therefore, is an impartial assessment of a student's work 
      on a quiz you have made. And for what its worth, if a student's work is 
      mathematically sound in your country, then it is mathematically sound everywhere else in the world
    %p.question= "Do your graders give marks?"
    %p
      Not directly. For each question, our graders give structured and free-flowing 
      feedback that the syetem then uses to calculate a numerical score. If two 
      students get the same feedback, then they will get the same score - irrespective 
      of who the graders were
  .span5.offset1
    %p.question= "What subjects do you cover?" 
    %p
      We are starting with Mathematics. But going forward, we intend to cover 
      other science subjects - like Physics, Chemistry, Computer Science etc.
    %p.question= "How long before I see results?"
    %p
      Within three(3) working days
