
#faq-scanning.row-fluid
  %h1.white= "Questions about scanning"
  .span5
    %p.question= "Scanning - is it hard to do?"
    %p
      Not at all. If you can use a printer or a photocopier, then you can use a scanner
    %p.question= "What kind of scanner do I need?"
    %p
      Any scanner would do. We would however recommend that you use a scanner 
      which can take a bunch of pages at a time
    %p
      And if you are ready to spend a little more, then there are scanners  
      that can not only scan multiple pages at a time, but also both sides of 
      a page at the same time
    %p 
      The only type of scanner we do not recommend is what is called a 
      flat-bed scanner. Its the kind where you have to lift a lid, place a sheet 
      and then scan. Fine for scanning 5-6 pages. But any more, and 
      it gets painful to use
    %p.question= "Should I scan in color or black-and-white?"
    %p
      Either is fine. What is more important is that the scans be clear 
      so that any handwriting on them can be read

  .span5.offset1
    %p.question= "How do I get clear scans?"
    %p
      Most scanners work in two broad modes - one for scanning photographs 
      and another for scanning documents
    %p
      Photographs are usually scanned at a high resolution (600 dpi - or dots per inch). 
      We don't need that. So, scan pages in the document mode with a resolution of 
      about 200-300 dpi

    %p.question= "After scanning, do I e-mail the scans to you?"
    %p
      No. You only need to store the scans in a particular location on your 
      computer and we will take it from there
    %p
      That location is a folder called <b>ScanTray</b>. It is created  
      by a small application called <b>Scanbot</b> which you will need to download 
      once - and only once - onto your computer
    %p
      See next question on <b>Scanbot</b>
       

    %p.question= "What is Scanbot and why do I need it?"
    %p
      The Scanbot is a small, downloadable utility that runs in the background 
      and takes care of transmitting any new scans from your PC to us 
    %p
      Once downloaded, Scanbot will create a special folder on your PC's Desktop 
      called - <b>ScanTray</b>. This is the only folder Scanbot will looks inside - and 
      nowhere else
    %p
      Thereafter, everytime you scan worksheets, you should ask your scanner 
      to store the scans in this folder
