
#new-studygroups
  %legend
    %span.target= "Classes & Sections"
    %span.operation= "Quick Add"
  = semantic_form_for :study_groups, :remote => true, :url => study_group_path do |f| 
    = f.inputs do 
      = f.input :from, :as => :select, :collection => [*9..12], 
                :include_blank => false, :input_html => { :name => 'klasses[from]' }
      = f.input :to, :as => :select, :collection => [*9..12], 
                :include_blank => false, :input_html => { :name => 'klasses[to]' }
      = f.input :from, :as => :select, :collection => [*'A'..'Z'], 
                :include_blank => false, :input_html => { :name => 'sections[from]' }
      = f.input :to, :as => :select, :collection => [*'A'..'Z'], 
                :include_blank => false, :input_html => { :name => 'sections[to]' }

    .submit-buttons
      %input{:type => :submit, :role => :button, :value => "Create", :name => "commit"}
