
%ul.dropdown-menu.dropdown-inverse#howto-guides{ role: :menu } 
  %li
    = simple_link for: "Make a Quiz", id: 'help-make-a-quiz', icon: 'icon-plus-sign'
  %li
    = simple_link for: "Make a Worksheet", id: 'help-make-a-ws', icon: 'icon-plus-sign'
  %li
    = simple_link for: "Edit an existing quiz", id: 'help-edit-qz', icon: 'icon-edit'
  %li
    = simple_link for: "Publish a worksheet", id: 'help-publish-ws', icon: 'icon-share'
  -#%li
    = simple_link for: "Create a new Group", id: 'help-mng-sektions', icon: 'icon-plus-sign'
  %li.divider
  %li
    = simple_link for: "Ask a question", icon: 'icon-question-sign', id: 'lnk-ask-a-question'
