
#m-demo.modal.fade.lateral-slide{ role: :dialog } 

  -# static components
  .row-fluid
    -# build
    .span3.offset1
      .span10.offset1
        %h1.orange= "1. Pick a topic"
        %p
          \... from the ones shown below and click <b>Make PDF</b>. 
          The system will then make a short quiz for you on that topic
        %p
          The quiz will have 1-2 questions, and will be assigned to a fictitious student. 
        %p
          <b>Note:</b> Please allow a few minutes for the student worksheet (PDF) to be ready 

    -# print
    .span4
      .span3
        = image_tag 'quick-trial/printer.png', class: 'big-icon'
      .span8
        %h1.orange= "2. Print & Write"
        %p
          Download the student worksheet (PDF) and print it out
        %p
          Then, write solutions (as a student would, and preferably with a pen) in 
          the space provided after each question
        %p
          <b>Note:</b> If you want to see how we grade and what we 
          look for in a solution, then make some mistakes - intentionally

    -# upload
    .span4
      .span3
        = image_tag 'quick-trial/upload.png', class: 'big-icon'
      .span8
        %h1.orange= "3. Scan & Upload"
        %p
          When done writing, scan the worksheet
        %p
          Most - if not all - modern scanners have the option of saving scans as a PDF.
          Select that option, so that you create one PDF file for all scanned pages
        %p
          Upload that PDF - and that's it! We will grade the pretend worksheet and 
          you will get an e-mail when we are done grading (usually within 2 working days). 
          To see the graded results, start by clicking on <b>Report Cards</b>
          
    -# what is this
      .span2
        .span8
          %button.btn.btn-primary{ :id => "btn-whatisthis"}
            = image_tag 'notifications/question.png', class: 'big-icon'
            %p What is this

  -# active components
  .row-fluid.push-down 
    .span3.offset1
      = simple_form_for :prefab, remote: true, url: prefab_path, 
      :defaults => { label: false }, html: { class: 'offset4' } do |f|
        = f.input :topic, wrapper_html: {id: 'open-demos' },
                  collection: PREFAB_QUIZ_MAP.map{ |m| [ m.first.to_s.humanize, m.last ] },
                  label_method: :first, 
                  value_method: :last, 
                  as: :radio_buttons
        = simple_button for: 'Make PDF', type: :submit, class: 'btn-primary push-down'
    .span4
      %ul.nav.offset3
        - PREFAB_QUIZ_MAP.each do |m|
          %li{ marker: m.last }
            = simple_link for: "#{m.first.to_s.humanize} PDF", 
            class: 'span7 disabled', marker: m.last,
            :href => "#{Gutenberg['server']}/mint/ws/:a/assignment-:b-:c.pdf"
            .stopwatch.span4
    .span4
      .btn.btn-inverse.btn-large.upload.offset3{:id => 'btn-quick-trial-upload' }
        Send for Grading
        .small-text.orange= "PDF preferred. JPEG allowed"
        .progress.hide
          .bar
