
#m-demo.modal.fade.lateral-slide{ :role => :dialog }

  -# static components
  .row-fluid
    -# build
    .span3.offset1
      .span3
        = image_tag 'quick-trial/build.png', :class => 'big-icon'
      .span8.offset1
        %h1.orange= "1. Pick a topic"
        %p
          \... and we will create a short quiz and a worksheet for you
        %p
          The quiz will have 1-2 questions, and the worksheet is assigned to a fictitious student
        %p
          <b>Note:</b> Please allow a few minutes for the PDFs to be ready 

    -# print
    .span3
      .span3
        = image_tag 'quick-trial/printer.png', :class => 'big-icon'
      .span8
        %h1.orange= "2. Print & Write"
        %p
          Download a worksheet PDF and print it out
        %p
          Then, write a solution (as a student would, and preferably with a pen) in 
          the space provided after each question
        %p
          <b>Note:</b> Do make intentional mistakes if you would like to see 
          a sample of our feedback

    -# upload
    .span3
      .span3
        = image_tag 'quick-trial/upload.png', :class => 'big-icon'
      .span8
        %h1.orange= "3. Scan & Upload"
        %p
          When done writing, scan the worksheet
        %p
          Most - if not all - modern scanners have the option of saving scans as a PDF.
          Select that option, so that you create one PDF file for all scanned pages
        %p
          Upload that file - and thats it!!
          

  -# active components
  .row-fluid.push-down 
    .span3.offset1
      = simple_form_for :prefab, :remote => true, :url => prefab_path, 
      :defaults => { :label => false }, :html => { :class => 'offset4' } do |f|
        = f.input :topic,
                  :collection => PREFAB_QUIZ_MAP.map{ |m| [ m.first.to_s.humanize, m.last ] },
                  :label_method => :first, 
                  :value_method => :last, 
                  :as => :radio_buttons
        = simple_button :for => 'Make PDF', :type => :submit, :class => 'btn-primary push-down'
    .span3
      %ul.nav.offset3
        - PREFAB_QUIZ_MAP.each do |m|
          %li{ :marker => m.last }
            = simple_link :for => "#{m.first.to_s.humanize} PDF", 
            :class => 'span7 disabled', :marker => m.last,
            :href => "#{Gutenberg['server']}/mint/ws/:a/assignment-:b-:c.pdf"
            .stopwatch.span4
    .span3
      %iframe.hide{ :name => 'upload-status', :onload => "postUpload()" }
      = simple_form_for :upload, :url => "#{Gutenberg['server']}/ScanUploader/uploadScan", 
      :remote => true, :multipart => true, :html => { :target => 'upload-status', :class => 'offset2' } do |f|
        = f.file_field :scans
        = simple_button :for => "Upload", :type => :submit, :icon => 'icon-upload', :class => 'btn-primary'

