
#m-suggestion-upload.modal.fade.wide{ :role => :dialog }
  .row-fluid
    .span2
      = image_tag 'quick-trial/upload.png', :class => 'big-icon'
    .span9
      .row-fluid
        %h3= "Select File"
        %iframe.hide{ :name => 'upload-status', :onload => "postUpload()" }
        = simple_form_for :suggestion, :url => suggestion_path, :remote => true, :multipart => true, 
        :html => { :target => 'upload-status' } do |f|
          = f.file_field :uploaded_doc
          = simple_button :for => "Upload", :type => :submit, :class => 'btn-primary'
          .subtext.hide= "Please select a file first"

      .row-fluid
        %h3.with-border= "Accepted Formats"
        .span5
          %ul
            %li= "PDF"
            %li= "Word Document"
            %li= "GIFF, JPEG etc."
        .span5.offset1
          %ul
            %li= "OpenOffice Document"
            %li= "Plain text file"
          
      .row-fluid
        %h3.with-border= "By clicking on upload you acknowledge that ... "
        .span5
          %p
            To the best of your knowledge, you have never uploaded these same questions before
          %p
            These are questions you would want to ask your students 
        .span5.offset1
          %p
            You are ok with other teachers using these questions in 
            their assignments
          %p
            These are your own questions - and not drawn from copyrighted sources

