
#m-suggestion-upload.modal.fade.slim{ :role => :dialog }
  .modal-header
    %h2= "Upload File with Suggested Question(s)"
    %iframe.hide{ :name => 'upload-status', :onload => "postUpload()" }
  .modal-body
    = simple_form_for :suggestion, :url => suggestion_path, :remote => true, :multipart => true, 
    :html => { :target => 'upload-status' } do |f|
      = f.file_field :uploaded_doc
      .subtext.hide= "Please select a file first"
      .row-fluid
        .span4
          %button.btn.btn-large.btn-primary.push-down.pull-left= "Upload"
        .span8.push-down
          .subtext= "Accepted formats"
          .subtext.white
            PDF, Microsoft Word Document, OpenOffice Document, Images (.jpeg, .gif etc) <b>or</b> Simple Text file
      %h3
        By clicking on upload, you acknowledge that
      .row-fluid
        .span5
          .subtext.white
            To the best of your knowledge, you have never uploaded these same questions before
          .subtext.white 
            These are questions you would want to ask your students 
        .span5.offset1
          .subtext.white
            You are ok with other teachers using these questions in 
            their assignments
          .subtext.white
            These are your own questions - and not drawn from copyrighted sources
