
#m-ws-options.modal.fade.lateral-slide{ :role => :dialog }
  .row-fluid
    %h1.offset1= "This assignment will be given as a ..."
      
  .row-fluid
    .span3.offset1.ws-option{ :id => 'as-homework', :data => { :show => 'set-deadline' } }
      .row-fluid
        .span2
          = image_tag "notifications/home.png", :size => "32x32"
        .span9
          %h4.bold= "Homework"
          %p
            Work for students to do at home. Has a submission deadline.
            PDF for each student posted in their Gradians.com account.
          %p.hide.detail
            Students will have to print-out their own worksheets. Scanning and uploading 
            can be done either in school or at home
          .row-fluid.hide.detail
            = simple_link :for => "Back", :class => "go-back pull-left btn btn-primary", :icon => 'icon-chevron-left'
            = simple_link :for => "Make PDF", :class => 'btn btn-primary submit pull-right', :icon => 'icon-cog'

    .span3.ws-option{ :id => 'as-takehome', :data => { :show => 'set-deadline set-duration' } }
      .row-fluid
        .span2
          = image_tag "notifications/timer.png", :size => "32x32"
        .span9
          %h4.bold= "Take Home Quiz"
          %p
            Like homework - but once started, has to be done in one sitting and 
            submitted within the specified duration. 
          %p.hide.detail
            The clock starts ticking when the student first downloads the PDF for printing.
            Students are responsible for printing, scanning and uploading their work 
            in the specified duration
          .row-fluid.hide.detail
            = simple_link :for => "Back", :class => "go-back pull-left btn btn-primary", :icon => 'icon-chevron-left'
            = simple_link :for => "Make PDF", :class => 'btn btn-primary submit pull-right', :icon => 'icon-cog'

    .span3.ws-option{ :id => 'as-classwork', :data => { :show => 'no-duration-deadline' } }
      .row-fluid
        .span2
          = image_tag "notifications/classroom.png", :size => "40x40"
        .span9
          %h4.bold= "In-Class Quiz"
          %p
            Work for students to do in class. PDF <b>not</b> posted in student account.
          %p.hide.detail
            Teachers would be responsible for printing out, scanning and uploading 
            student work
          .row-fluid.hide.detail
            = simple_link :for => "Back", :class => "go-back pull-left btn btn-primary", :icon => 'icon-chevron-left'
            = simple_link :for => "Make PDF", :class => 'btn btn-primary submit pull-right', :icon => 'icon-cog'

    .span3.hide.ws-detail{ :id => 'set-deadline' }
      .row-fluid
        .span2
          = image_tag "notifications/calendar.png", :size => "36x36"
        .span9
          %h4.bold.orange= "Set Deadline"
          %p
            <b>Days from today</b> by which student's work must be uploaded. 
            To meet the deadline, scans must be uploaded latest by <b>11:59 PM (GMT)</b> on
            the last day
          %p
            <b>Penalty:</b> 10% of quiz total for each late day 
          %p
            = simple_form_for :deadline, :url => '#', :defaults => { :label => false } do |f|
              = f.input :cutoff, 
                collection: [ [3, "3 days"],
                [7, "7 days"],
                [15, "15 days"],
                [21, "21 days"],
                [30, "1 month"],
                [60, "2 months"]],
                value_method: :first,
                label_method: :last,
                as: :radio_buttons

    .span4.hide.ws-detail{ :id => 'set-duration' }
      .row-fluid
        .span2
          = image_tag "notifications/timer.png", :size => "36x36"
        .span9
          %h4.bold.orange= "Set Duration" 
          %p
            Time allowed to students to finish the assignment
          %p
            The system will automatically add an extra 30 minutes 
            for students to print, scan and upload their completed worksheets
          %p
            <b>Penalty:</b> 1% for every 5 minute delay
          %p
            = simple_form_for :duration, :url => '#', :defaults => { :label => false } do |f|
              = f.input :cutoff, 
                collection: [ [60, "1 hour"],
                [90, "1.5 hours"],
                [120, "2 hours"],
                [150, "2.5 hours"],
                [180, "3 hours"]],
                value_method: :first,
                label_method: :last,
                as: :radio_buttons

    .span4.hide.ws-detail{ :id => 'no-duration-deadline' }
      .row-fluid
        %h4.bold.orange= "Just click 'Make PDF'"
        %p
          As the assignment will be done in-class, under your supervision, there is 
          no need to specify a deadline or a duration
