
%ul.no-bullets
  %li#logout-link
    = side_panel_link :logout, :href => "/logout", :dynamic => false
  %li 
    = side_panel_link :boards  
  %li 
    = side_panel_link :schools  
  %li 
    = side_panel_link :courses 
  %li 
    = side_panel_link :teachers 
  %li 
    = side_panel_link :yardsticks 

