

- if current_account 
  - links = {:logout => {:href => '/logout'} }
- else 
  - links = {:login => {:href => '/login'} }

- otherlinks = { :boards => {:href => '#', :load_controls => '#board-controls'}, 
                 :courses => {:href => '#', :load_controls => '#course-controls'} }
- links.merge! otherlinks 

%ul
  - links.each do |k,v| 
    - main = k.to_s 
    - href = v[:href].nil? || v[:href].empty? ? '#' : v[:href] 
    - controls = v[:load_controls] 

    %li{ :id => "#{main}_link", :class => "main-link" }
      - if controls.nil? 
        %a{ :href => "#{href}"}= "#{main.humanize}"
      - else 
        %a{ :href => "#{href}", :load_on_click => "#{controls}" }= "#{main.humanize}"
