
%div#benchmark_grade_pane.narrow.pane
  = semantic_form_for @admin do |f| 
    .accordion-form 
      - @benchmarks.each do |bmark| 
        .accordion-heading
          %a{:href => "#"}= "#{bmark.annotation}"
        .accordion-content
          = f.semantic_fields_for bmark do |g| 
            = g.inputs do 
              = g.input :annotation
              = g.input :description, :as => :text,
                        :input_html => { :rows => 6 }
              = g.input :default_allotment, :as => :select, 
                        :collection => 0.step(101, 10).to_a, 
                        :include_blank => false
