
-# Customized markers 
- admin = current_account.loggable
- srvr = "#{Gutenberg['server']}"

- content_for :toolbox do 
  #toolbox.hidden 
    = render :partial => 'boards/new'
    = render :partial => 'schools/new'
    = render :partial => 'schools/edit'
    = render :partial => 'courses/new'
    = render :partial => 'courses/edit'
    = render :partial => 'topics/new'
    = render :partial => 'verticals/new'
    = render :partial => 'teachers/new'
    = render :partial => 'teachers/specialization'
    = render :partial => 'students/new'
    = render :partial => 'examiners/new'
    = render :partial => 'videos/new'
    = render :partial => 'admin/console'

    = render :partial => 'boards/controls'
    = render :partial => 'courses/controls'
    = render :partial => 'schools/controls'
    = render :partial => 'topics/controls'
    = render :partial => 'examiners/workbench'
    = render :partial => 'examiners/ungraded'
    = render :partial => 'examiners/pending_suggestions'
    = render :partial => 'examiners/blockDbSlots'
    = render :partial => 'admin/upload_xls'

    = render :partial => 'schools/admin-view'
    = render :partial => 'courses/summary'
    = render :partial => 'syllabi/edit'
    = render :partial => 'examiners/list'
    = render :partial => 'teachers/list'
  
    = render :partial => 'toolbox/line'
    = render :partial => 'toolbox/preview'
    = render :partial => 'menus/user/account'
    = render :partial => 'menus/admin/workbench'

  
- content_for :modals do
  = render :partial => 'modals/user/account'

!!!5

%html{html_attrs}
  %head 
    = javascript_include_tag "application", "admin"
    = stylesheet_link_tag "application" 
    = csrf_meta_tag

  %body 
    .container-fluid 
      #control-panel.g-panel.row-fluid{ :marker => "#{admin.id}" } 
        .span12
          .navbar.navbar-inverse
            .navbar-inner
              %a.brand.span4{ :href => "#"}= "Gradians.com"
              %ul.nav.span8.pull-right
                -# dropdown -> Quiz -> [ new, edit, save ]
                %li.dropdown
                  = simple_link :for => "Workbench", :as => :dropdown, :id => 'm-admin-wb'
                %li#cp-account-link.dropdown.pull-right
                  = simple_link :for => "Hello, #{admin.first_name}", :as => :dropdown, :id => 'm-account'
      #desktop.row-fluid
        #left.g-panel.span4
          = render :partial => 'toolbox/paginator', :locals => { :id => 'left-paginator', :url => '#' }
          #left-1
            #schools.content.no-remove
          #left-X
          #left-2
          #left-3
          #left-4
            = render :partial => 'toolbox/grd-pending'
        #middle.g-panel.span4
          = render :partial => 'toolbox/paginator', :locals => { :id => 'middle-paginator', :url => '#' }
          #middle-X
        #right.g-panel.span4
          = render :partial => 'toolbox/paginator', :locals => { :id => 'right-paginator', :url => '#' }
          #right-X
        #wide.g-panel.span8
          #wide-1
            = render :partial => 'admin/school-console'
          #wide-X
          #wide-wait
            = render :partial => 'toolbox/wait'
          #graph-paper
          #wide-grd-canvas
            .row-fluid
              = render :partial => 'toolbox/grd-toolbar'
            .row-fluid
              .span1
                = render :partial => 'toolbox/grd-toolbar-btns'
              .span11
                %canvas#grading-canvas{ :width => 600, :height => 800 }
    = yield :toolbox
    = yield :modals
