
- content_for :toolbox do 
  #toolbox.hidden 
    = render :partial => 'boards/new'
    = render :partial => 'schools/new'
    = render :partial => 'schools/edit'
    = render :partial => 'yardsticks/edit'
    = render :partial => 'courses/new'
    = render :partial => 'courses/edit'
    = render :partial => 'topics/new'
    = render :partial => 'verticals/new'
    = render :partial => 'teachers/new'
    = render :partial => 'teachers/specialization'
    = render :partial => 'students/new'
    = render :partial => 'examiners/new'
    = render :partial => 'teachers/edit'
    = render :partial => 'videos/new'
    = render :partial => 'admin/console'

    = render :partial => 'boards/controls'
    = render :partial => 'courses/controls'
    = render :partial => 'schools/controls'
    = render :partial => 'topics/controls'
    = render :partial => 'examiners/workbench'
    = render :partial => 'examiners/ungraded'
    = render :partial => 'examiners/pending_suggestions'
    = render :partial => 'examiners/blockDbSlots'

    = render :partial => 'schools/admin-view'
    = render :partial => 'courses/summary'
    = render :partial => 'syllabi/edit'
    = render :partial => 'examiners/list'
    = render :partial => 'yardsticks/list'
    = render :partial => 'teachers/list'
  
    = render :partial => 'toolbox/swiss_knife'
    = render :partial => 'toolbox/document_preview'
    = render :partial => 'toolbox/edit_account'
    = render :partial => 'toolbox/grading_canvas'
    = render :partial => 'toolbox/grading_btns'
  
!!!5

%html{html_attrs}
  %head 
    = javascript_include_tag "application", "admin"
    = stylesheet_link_tag "application" 
    = csrf_meta_tag

  %body 
    - default_marker = "#{current_account.nil? ? :tbd : current_account.loggable_id}"
    #visible-active-area
      #control-panel.panel.horizontal{ :marker => default_marker } 
        #main-links 
          = render :partial => 'admin/control-panel'
        -# Links required in the currently loaded context
        #minor-links

      #side-panel.panel.left.slim
      #middle-panel.panel.slim.left
      #right-panel.panel.slim.left
      #wide-panel.panel.wide.left

    = yield :toolbox
