
- content_for :toolbox do 
  #toolbox.hidden 
    = render :partial => 'boards/new'
    = render :partial => 'schools/new'
    = render :partial => 'schools/edit'
    = render :partial => 'yardsticks/edit'
    = render :partial => 'courses/new'
    = render :partial => 'courses/edit'
    = render :partial => 'micro_topics/new'
    = render :partial => 'teachers/new'
    = render :partial => 'students/new'
    = render :partial => 'study_groups/new'
    = render :partial => 'examiners/new'

    = render :partial => 'boards/controls'
    = render :partial => 'courses/controls'
    = render :partial => 'schools/controls'
    = render :partial => 'micro_topics/controls'
    = render :partial => 'examiners/controls'

    = render :partial => 'schools/admin-view'
    = render :partial => 'courses/summary'
    = render :partial => 'syllabi/edit'
    = render :partial => 'yardsticks/summary'
    = render :partial => 'teachers/list'
    = render :partial => 'study_groups/studentlist'
    = render :partial => 'study_groups/list'
    = render :partial => 'study_groups/radio_list'
    = render :partial => 'micro_topics/list'
  
    = render :partial => 'toolbox/radio_one_column'
    = render :partial => 'toolbox/checkbox_one_column'
    = render :partial => 'toolbox/line_item'
  
!!!5

%html{html_attrs}
  %head 
    = javascript_include_tag "application", "admin"
    = stylesheet_link_tag "application" 
    = csrf_meta_tag

  %body 
    #visible-active-area
      #control-panel.panel.horizontal
        #main-links 
          = render :partial => 'admin/top-panel'
        -# Links required in the currently loaded context
        #minor-links

      #side-panel.panel.left.slim
      #middle-panel.panel.slim.left
      #right-panel.panel.slim.left
      #wide-panel.panel.wide.left

    = yield :toolbox
