
- server = "#{Gutenberg['server']}"
-content_for :toolbox do
  #toolbox.hidden 
    = render :partial => 'menus/user/download', :locals => { :server => server }

!!!5

%html{html_attrs}
  %head 
    %title= "Grades will happen ..."
    = stylesheet_link_tag "application" 
    = javascript_include_tag "application", "welcome"
    = csrf_meta_tag
  %body 
    .container-fluid 
      #control-panel.g-panel.row-fluid
        .span12
          .navbar.navbar-inverse
            .navbar-inner
              %a.brand.span4{ :href => "#"}
                = image_tag "logo-mit-beta-2.png"
                .tagline.span6.offset3= "Grades will happen"
              %ul.nav.span8.pull-right
                %li
                  %a{ :href => "#"}= "Home"
                %li.dropdown
                  = simple_link :for => "Downloads", :id => 'm-downloads', :as => :dropdown 
                %li
                  #signin-form.pull-right
                    %form.form-inline.pull-right{ :action => session_path(:account), :method => :post }
                      %input.input-small{ :type => :text, :name => "account[login]", :placeholder => "Email / Login"}
                      .input-append
                        %input.input-small{ :type => :password, :name => "account[password]", :placeholder => "Password" }
                        %button.btn.btn-primary{ :type => :submit }= "Sign In"
                        %button#btn-register.btn.white-bg{ :type => :button }= "Register"

      .row-fluid
        .hero-unit
          #how-it-works.carousel.slide
            .carousel-inner
              .item 
                = image_tag "landing/slideshow-1.png"
                .attribution= "Worker designed by Kris Khoury from The Noun Project"
                .carousel-caption.offset1
                  %p
                    Pick from our database of questions. Or send us your own to add and use 
              .item 
                = image_tag "landing/slideshow-2.png"
                .attribution= "Fountain Pen designed by ProletKult Graphik from The Noun Project"
                .carousel-caption.offset1
                  %p
                    Students do their work as they normally do - with pen on paper - on 
                    their individually encoded worksheets
              .item 
                = image_tag "landing/slideshow-3.png"
                .attribution= "The Noun Project"
                .carousel-caption.offset1
                  %p
                    \... and provide our feedback. Teachers get a detailed picture of how well individual 
                    students are doing on a specific topics
            %a.carousel-control{ :href => '#how-it-works', 'data-slide' => :prev}
              \&lsaquo;
            %a.carousel-control{ :href => '#how-it-works', 'data-slide' => :next}
              \&rsaquo;

    = yield :toolbox


