
!!!5

%html{html_attrs}
  %head 
    %title= "Grades will happen ..."
    = stylesheet_link_tag "application" 
    = javascript_include_tag "application", "welcome"
    = csrf_meta_tag
  %body 
    .container-fluid 
      #control-panel.g-panel.row-fluid
        .span12
          .navbar.navbar-inverse
            .navbar-inner
              %a.brand.span4.orange{ :href => "#"}= "Gradians.com"
              %ul.nav.span8.pull-right
                %li
                  %a{ :href => "#"}= "Home"
                %li
                  %a{ :href => "#"}= "About Us"
                %li.dropdown
                  %a.dropdown-toggle{ :href => "#", "data-toggle" => :dropdown, :menu => '#user-downloads', :fixed => :true }
                    Scanbot
                    %b.caret
                  = render :partial => 'menus/user/download'
                %li
                  #signin-form.pull-right
                    %form.form-inline.pull-right{ :action => session_path(:account), :method => :post }
                      %input.input-small{ :type => :text, :name => "account[login]", :placeholder => "Email / Login"}
                      .input-append
                        %input.input-small{ :type => :password, :name => "account[password]", :placeholder => "Password" }
                        %button.btn.btn-primary{ :type => :submit }= "Sign In"
                        %button#btn-register.btn.white-bg{ :type => :button }= "Register"
      .row-fluid
        .hero-unit.span6
          #how-it-works.carousel.slide
            .carousel-inner
              .item 
                .carousel-caption
                  %h4= "Select questions to make a Worksheet"
                  %p
                    We have a growing database of questions. And you are welcome to send your own 
                = image_tag "landing/carousel-I.jpg"
              .item 
                .carousel-caption
                  %h4= "Students do their thing"
                  %p
                    They write as they normally do - with a pen, on paper
                = image_tag "landing/carousel-II.jpg"
              .item 
                .carousel-caption
                  %h4= "We take a first-look"
                  %p
                    And provide feedback and statistics
                = image_tag "landing/carousel-III.jpg"


