
- server = "#{Gutenberg['server']}"
-content_for :toolbox do
  #toolbox.hidden 
  #modals
    = render :partial => 'modals/user/register'
    = render :partial => 'notifications/shared/old-browser'

!!!5

%html{html_attrs}
  %head 
    %title= "Teach more. Help more. Grade less."
    = stylesheet_link_tag "application" 
    = javascript_include_tag "application", "welcome"
    = javascript_include_tag "external" if Rails.env == "production"
    = csrf_meta_tag
  %body 
    #spinner.spinner
      = image_tag "loading.gif", :id => 'img-spinner'
    .container-fluid 
      #control-panel.g-panel.row-fluid
        .span12
          .navbar.navbar-inverse
            .navbar-inner
              %a.brand.span4{ :href => "#"}
                = image_tag "logo-mit-beta-2.png"
              %ul.nav.span8.pull-right
                %li
                  #signin-form
                    %form.form-inline{ :action => session_path(:account), :method => :post }
                      %input.input-medium{ :type => :text, :name => "account[login]", :placeholder => "Email"}
                      .input-append
                        %input.input-medium{ :type => :password, :name => "account[password]", :placeholder => "Password" }
                        %button.btn.btn-large.btn-primary{ :type => :submit }= "Sign In"
                %li.dropdown{ :id => 'li-about-us' }
                  = simple_link :for => "About Us",  :href => faq_path

      .row-fluid
        .hero-unit
          .row-fluid.jumbotron
            %p.span8= "Teach more. Help more. Grade less."
            %button.btn.btn-huge.btn-primary.span4{ :id => 'btn-register' }
              %p= "Register FREE!"
              %h4= "(Sign In, take the Quick Trial)"
          #how-it-works.carousel.slide
            .carousel-inner
              .item.active 
                = image_tag "landing/slideshow-1.png"
                -#.attribution= "Worker designed by Kris Khoury from The Noun Project"
              .item 
                = image_tag "landing/slideshow-2.png"
                -#.attribution= "Fountain Pen designed by ProletKult Graphik from The Noun Project"
              .item 
                = image_tag "landing/slideshow-3.png"
                -#.attribution= "The Noun Project"
              .item 
                = image_tag "landing/slideshow-4.png"
                -#.attribution= "Worker designed by Kris Khoury from The Noun Project"
            %a.carousel-control{ :href => '#how-it-works', 'data-slide' => :prev}
              \&lsaquo;
            %a.carousel-control{ :href => '#how-it-works', 'data-slide' => :next}
              \&rsaquo;

    = yield :toolbox


