
- server = "#{Gutenberg['server']}"
-content_for :toolbox do
  #toolbox.hidden 
    = render :partial => 'menus/user/download', :locals => { :server => server }
    = render :partial => 'menus/user/register', :locals => { :server => server }
  #modals
    = render :partial => 'modals/user/contactus'
    = render :partial => 'modals/user/register'

!!!5

%html{html_attrs}
  %head 
    %title= "Grades will happen ..."
    = stylesheet_link_tag "application" 
    = javascript_include_tag "application", "welcome"
    = csrf_meta_tag
  %body 
    .container-fluid 
      #control-panel.g-panel.row-fluid
        .span12
          .navbar.navbar-inverse
            .navbar-inner
              %a.brand.span4{ :href => "#"}
                = image_tag "logo-mit-beta-2.png"
                .tagline.span6.offset3= "Grades will happen"
              %ul.nav.span8.pull-right
                %li
                  %a{ :href => "#"}= "Home"
                %li.dropdown
                  = simple_link :for => "Downloads", :id => 'm-downloads', :as => :dropdown 
                %li
                  #signin-form.pull-right
                    %form.form-inline.pull-right{ :action => session_path(:account), :method => :post }
                      %input.input-medium{ :type => :text, :name => "account[login]", :placeholder => "Email / Login"}
                      .input-append
                        %input.input-medium{ :type => :password, :name => "account[password]", :placeholder => "Password" }
                        %button.btn.btn-primary{ :type => :submit }= "Sign In"
                        -#%button.btn.btn-info{ :href => "#contactus" , "data-toggle" => "modal" }= "Contact Us"
                %li.dropdown
                  = simple_link :for => "Register",  :id => "m-registrations", :as => :dropdown

      .row-fluid
        .hero-unit
          #how-it-works.carousel.slide
            .carousel-inner
              .item 
                = image_tag "landing/carousel-I.png", :class => :offset1
              .item 
                = image_tag "landing/carousel-II.png", :class => :offset1
              .item 
                = image_tag "landing/carousel-III.png", :class => :offset1
              -#
                .carousel-caption
                  %h4= "1. Make a worksheet"
                  %p
                    Pick questions from our growing database on topics you would like students to work on

    = yield :toolbox


