
- server = "#{Gutenberg['server']}"
-content_for :toolbox do
  #toolbox.hidden 
    = render :partial => 'menus/user/download', :locals => { :server => server }

!!!5

%html{html_attrs}
  %head 
    %title= "Grades will happen ..."
    = stylesheet_link_tag "application" 
    = javascript_include_tag "application", "welcome"
    = csrf_meta_tag
  %body 
    #spinner.spinner
      = image_tag "loading.gif", :id => 'img-spinner'
    .container-fluid 
      #control-panel.g-panel.row-fluid
        .span12
          .navbar.navbar-inverse
            .navbar-inner
              %a.brand.span4{ :href => "#"}
                = image_tag "logo-mit-beta-2.png"
                .tagline.span6.offset3= "Grades will happen"
              %ul.nav.span8.pull-right
                %li
                  %a{ :href => "#"}= "Home"
                %li.dropdown
                  = simple_link :for => "Downloads", :id => 'm-downloads', :as => :dropdown 
                %li
                  #signin-form.pull-right
                    %form.form-inline.pull-right{ :action => session_path(:account), :method => :post }
                      %input.input-small{ :type => :text, :name => "account[login]", :placeholder => "Email / Login"}
                      .input-append
                        %input.input-small{ :type => :password, :name => "account[password]", :placeholder => "Password" }
                        %button.btn.btn-primary{ :type => :submit }= "Sign In"
                        -#%button#btn-register.btn.white-bg{ :type => :button }= "Register"

      .row-fluid
        .hero-unit
          #how-it-works.carousel.slide
            .carousel-inner
              .item 
                = image_tag "landing/slideshow-1.png"
                .attribution= "Worker designed by Kris Khoury from The Noun Project"
              .item 
                = image_tag "landing/slideshow-2.png"
                .attribution= "Fountain Pen designed by ProletKult Graphik from The Noun Project"
              .item 
                = image_tag "landing/slideshow-3.png"
                .attribution= "The Noun Project"
              .item 
                = image_tag "landing/slideshow-4.png"
                .attribution= "Worker designed by Kris Khoury from The Noun Project"
            %a.carousel-control{ :href => '#how-it-works', 'data-slide' => :prev}
              \&lsaquo;
            %a.carousel-control{ :href => '#how-it-works', 'data-slide' => :next}
              \&rsaquo;

      .row-fluid#our-belief
        %h1.offset2= "Wish someone told us this when we were 17" 
        .span4.offset1
          %span You will make mistakes ...
          %p
            \... and thats ok! The maths you are learning now is the result of work done by 
            some truly brilliant minds in the past. So believe us when we say, those brilliant 
            minds struggled to understand things too. And they made their fair share of mistakes 
            before discovering what they did
          %p
            So, if you are making mistakes - and learning from them - then you are in great company
            
        .span4.offset1
          %span Grades will happen!
          %p
            Hence, if you can relax about maths and focus solely on making good mathematical 
            arguments, then you will arrive at the right answer. You will then not need to see 
            your grades to know that you have nailed the question
          %p
            For that reason, we will show you only our feedback for the work you have done - and 
            not the numerical score our system assigns. Our sole aim is to provide you with the 
            kind of feedback you can use to learn, improve and therefore do the best maths you can


    = yield :toolbox


