!!!5

%html{html_attrs}
  %head 
    %title= "Grades will happen ..."
    = stylesheet_link_tag "application" 
    = javascript_include_tag "application"
    = csrf_meta_tag
  
  %body 
    #public-links
      %ul.no-bullets
        = main_link :for => :videos, :as => 'how-to videos'
        = main_link :for => :register, :as => 'get invited to try'
    = yield 
