
!!!5

%html{html_attrs}
  %head 
    %title= "Grades will happen ..."
    = stylesheet_link_tag "application" 
    = javascript_include_tag "application", "welcome"
    = csrf_meta_tag
  %body 
    .container-fluid 
      #control-panel.g-panel.row-fluid
        .span12
          .navbar.navbar-inverse
            .navbar-inner
              %a.brand.span4.orange{ :href => "#"}= "Gradians.com"
              %ul.nav.span8.pull-right
                %li
                  %a{ :href => "#"}= "Home"
                %li
                  %a{ :href => "#"}= "About Us"
                %li.dropdown
                  %a.dropdown-toggle{ :href => "#", "data-toggle" => :dropdown, :menu => '#user-downloads', :fixed => :true }
                    Scanbot
                    %b.caret
                  = render :partial => 'tasks/user_download'
                %li
                  #signin-form.pull-right
                    %form.form-inline.pull-right{ :action => session_path(:account), :method => :post }
                      %input.input-small{ :type => :text, :name => "account[login]", :placeholder => "Email / Login"}
                      .input-append
                        %input.input-small{ :type => :password, :name => "account[password]", :placeholder => "Password" }
                        %button.btn.btn-primary{ :type => :submit }= "Sign In"
                        %button#btn-register.btn{ :type => :button }= "Register"
