- content_for :footer do 
  = render :partial => 'welcome/footer'


!!!5

%html{html_attrs}
  %head 
    %title= "Grades will happen ..."
    = stylesheet_link_tag "application" 
    = javascript_include_tag "application", "welcome"
    = csrf_meta_tag
  %body 
    #viewport
      #company-logo
        = image_tag("logo-v2-beta.png", alt: "gradians", id: "gradians_logo")
      #public-links
        %ul.no-bullets      
          = main_link :for => :main, :as => 'home', :href => root_path
          = main_link :for => :videos, :as => 'video tutorials', :href => howtos_path
          = main_link :for => :how_it_works, :as => 'how it works', :href => how_it_works_path
          = main_link :for => :download, :as => 'download', :href => download_path
          = main_link :for => :about_us, :as => 'about us', :href => about_us_path
          = main_link :for => :try_us, :as => 'free trial', :href => try_us_path
      #mainstage
        = yield
    = yield :footer
