
- server = "#{Gutenberg['server']}"
-content_for :toolbox do
  #toolbox.hidden 
    = render partial: 'menus/user/abouts'
    = render partial: 'toolbox/generic/line'
  #modals
    = render partial: 'modals/guest/register'
    = render partial: 'modals/guest/founders'
    = render partial: 'modals/guest/reset-passwd'
  #notifications
    = render partial: 'notifications/shared/old-browser'
    = render partial: 'notifications/shared/reset-passwd'
    = render partial: 'notifications/student/enrollment-blocked'
    = render partial: 'notifications/student/enrolled-already'
    = render partial: 'notifications/student/sektion-not-found'

!!!5

%html{html_attrs}
  %head 
    %title= "Partners in Practice"
    = stylesheet_link_tag "application" 
    = javascript_include_tag "application", "welcome"
    = javascript_include_tag "external" if Rails.env == "production"
    = csrf_meta_tag
  %body 
    = render partial: 'toolbox/generic/spinner'
    .container-fluid 
      #control-panel.g-panel.row-fluid
        .span12
          .navbar.navbar-inverse
            .navbar-inner
              %a.brand.span3{ href: "#"}
                = image_tag "logo-mit-beta-2.png"
                #tagline= 'Partners in Practice'
              %ul.nav.span6
                %li.pull-left
                  #signin-form
                    %form.form-inline{ action: session_path(:account), method: :post }
                      %input.input-medium{ type: :text, name: "account[login]", placeholder: "Email"}
                      .input-append
                        %input.input-medium{ type: :password, name: "account[password]", placeholder: "Password" }
                        %button.btn.btn-large.btn-primary{ type: :submit }= "Sign In"
              .span2{ id: 'misc-a'}
                %div
                  = simple_link for: 'Register', id: 'a-register'
                %div
                  = simple_link for: 'Forgot password?', id: 'a-reset-passwd'

      -#= render partial: 'puzzles/daily'
      = render partial: 'mobile/intro'

    = yield :toolbox


