
- server = "#{Gutenberg['server']}"
-content_for :toolbox do
  #toolbox.hidden 
    = render partial: 'menus/user/abouts'
    = render partial: 'toolbox/generic/line'
  #modals
    = render partial: 'modals/guest/register'
    = render partial: 'modals/guest/founders'
    = render partial: 'notifications/shared/old-browser'
  #notifications
    = render partial: 'notifications/student/enrollment-blocked'
    = render partial: 'notifications/student/enrolled-already'
    = render partial: 'notifications/student/sektion-not-found'

!!!5

%html{html_attrs}
  %head 
    %title= "Teach more. Help more. Grade less."
    = stylesheet_link_tag "application" 
    = javascript_include_tag "application", "welcome"
    = javascript_include_tag "external" if Rails.env == "production"
    %script{ type: "text/x-mathjax-config" } 
      MathJax.Hub.Register.StartupHook("HTML-CSS Jax Ready", function() {
      var VARIANT = MathJax.OutputJax["HTML-CSS"].FONTDATA.VARIANT ;
      VARIANT["normal"].fonts.unshift("MathJax_SansSerif") ;
      }) ;
      MathJax.Hub.Config({
      styles: {
      "span.MathJax span" : { "font-size" : "14px" , "font-weight" : "100" }
      }
      }) ;
    = javascript_include_tag "http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"
    = csrf_meta_tag
  %body 
    = render partial: 'toolbox/generic/spinner'
    .container-fluid 
      #control-panel.g-panel.row-fluid
        .span12
          .navbar.navbar-inverse
            .navbar-inner
              %a.brand.span4{ href: "#"}
                = image_tag "logo-mit-beta-2.png"
                #tagline= 'Grades will happen'
              %ul.nav.span7
                %li.pull-right
                  #signin-form
                    %form.form-inline{ action: session_path(:account), method: :post }
                      %input.input-medium{ type: :text, name: "account[login]", placeholder: "Email"}
                      .input-append
                        %input.input-medium{ type: :password, name: "account[password]", placeholder: "Password" }
                        %button.btn.btn-large.btn-primary{ type: :submit }= "Sign In"

      = render partial: 'puzzles/daily'

    = yield :toolbox


