
- server = "#{Gutenberg['server']}"
-content_for :toolbox do
  #toolbox.hidden 
    = render :partial => 'menus/user/abouts'
  #modals
    = render :partial => 'modals/user/register'
    = render :partial => 'notifications/shared/old-browser'

!!!5

%html{html_attrs}
  %head 
    %title= "Teach more. Help more. Grade less."
    = stylesheet_link_tag "application" 
    = javascript_include_tag "application", "welcome"
    = javascript_include_tag "external" if Rails.env == "production"
    = csrf_meta_tag
  %body 
    #spinner.spinner
      = image_tag "loading.gif", :id => 'img-spinner'
    .container-fluid 
      #control-panel.g-panel.row-fluid
        .span12
          .navbar.navbar-inverse
            .navbar-inner
              %a.brand.span4{ :href => "#"}
                = image_tag "logo-mit-beta-2.png"
              %ul.nav.span8.pull-right
                %li
                  #signin-form
                    %form.form-inline{ :action => session_path(:account), :method => :post }
                      %input.input-medium{ :type => :text, :name => "account[login]", :placeholder => "Email"}
                      .input-append
                        %input.input-medium{ :type => :password, :name => "account[password]", :placeholder => "Password" }
                        %button.btn.btn-large.btn-primary{ :type => :submit }= "Sign In"
                %li.dropdown{ :id => 'li-about-us' }
                  = simple_link :for => "About",  :as => :dropdown, :id => 'm-about'
                  -#= simple_link :for => "About",  :href => faq_path, :id => 'lnk-faq'

      .row-fluid{ :id => 'shopfront' }
        .row-fluid.jumbotron
          %p.offset3= "Teach more. Help more. Grade less."
        .row-fluid
          .span9
            .span6.offset1{ :id => 'carousel' }
              .carousel.slide{ :id => 'how-it-works' }
                .carousel-inner
                  .item.active
                    = image_tag "landing/worksheet.png"
                  .item
                    = image_tag "landing/written.png"
                  .item
                    = image_tag "landing/graded.png"
                  .item
                    = image_tag "landing/report.png"
            .span5{ :id => 'steps' }
              .row-fluid.active
                .span3
                  = image_tag "landing/teacher.png", :size => "40x40"
                .span9
                  %p
                    Pick from our database of long-form questions to make worksheets for your students. 
                  %p.small-text
                    Our database of questions is open. Which means, you can send us questions too  
              .row-fluid
                .span3
                  = image_tag "quick-trial/write.png", :size => "40x40"
                .span9
                  %p
                    Students do their work as they normally would - with a pen, on paper.
              .row-fluid
                .span3
                  = image_tag "notifications/preview.png", :size => "40x40"
                .span9
                  %p  
                    We take a first look
                  %p.small-text
                    And provide our feedback and assessment on each student's work on each question 
              .row-fluid
                .span3
                  = image_tag "landing/teacher.png", :size => "40x40"
                .span9
                  %p
                    Review results. Monitor performance
                  %p.small-text
                    All of our feedback on all of the questions answered by all of your 
                    students is collected into statistics for you to see. The statistics 
                    will help you identify which students to help with what topics
                     
          .span3
            .row-fluid
              = image_tag "landing/finalist.png"
            .row-fluid

    = yield :toolbox


