
!!!5

%html{html_attrs}
  %head 
    %title= "Gradians.com - FAQs"
    = stylesheet_link_tag "application" 
    = javascript_include_tag "faq"
  %body 
    .container-fluid 
      .g-panel.row-fluid
        .span12
          .navbar.navbar-inverse
            .navbar-inner
              %a.brand.span4{ :href => "#"}
                = image_tag "logo-mit-beta-2.png"
      .row-fluid
        .span2.offset1{ :id => 'faq-side-panel' }
          %ul.nav.nav-list.offset1
            %li
              = simple_link :for => "General", :href => '#faq-general', :icon => 'icon-chevron-right'
            %li
              = simple_link :for => "Grading", :href => '#faq-grading', :icon => 'icon-chevron-right'
            %li
              = simple_link :for => "Scanning", :href => '#faq-scanning', :icon => 'icon-chevron-right'
        .span7.offset3{ :id => 'faq-content-panel' }
          = render :partial => 'faq/general'
          = render :partial => 'faq/grading'
          = render :partial => 'faq/scanning'
