
-# Customized markers 
- student = current_account.loggable
- srvr = "#{Gutenberg['server']}"

- content_for :toolbox do 
  #toolbox.hidden 
    = render :partial => 'toolbox/line'
    = render :partial => 'toolbox/preview'
    = render :partial => 'toolbox/fdb-panel'
    = render :partial => 'menus/user/account'
    = render :partial => 'menus/student/inbox'

!!!5

%html{html_attrs}
  %head 
    = javascript_include_tag "application", "students"
    = stylesheet_link_tag "application" 
    = csrf_meta_tag

  %body 
    .container-fluid 
      #control-panel.g-panel.row-fluid{ :marker => "#{student.id}" } 
        .span12
          .navbar.navbar-inverse
            .navbar-inner
              %a.brand.span3{ :href => "#"}
                = image_tag "logo-mit-beta-2.png"
                .tagline.span10.offset1= "Grades will happen"
              %ul.nav.span8
                %li
                  = simple_link :for => "Report Cards", :id => 'lnk-st-rc'
                %li
                  = simple_link :for => "Inbox", :id => 'lnk-st-inbox'
                %li#cp-account-link.dropdown
                  = simple_link :for => "Hello, #{student.first_name}", :as => :dropdown, :id => 'm-account'
      #desktop.row-fluid
        #left.g-panel.span4
          = render :partial => 'toolbox/paginator', :locals => { :id => 'left-paginator', :url => '#' }
          #left-1
            = render :partial => 'students/rc'
        #middle.g-panel.span4
          = render :partial => 'toolbox/paginator', :locals => { :id => 'middle-paginator', :url => '#' }
          #middle-1
            = render :partial => 'students/inbox'
        #wide.g-panel.span8
          #wide-X
          #wide-wait
            = render :partial => 'toolbox/wait'

    = yield :toolbox
