
-# Customized markers 
- tchr = current_account.loggable
- srvr = "#{Gutenberg['server']}"

-content_for :toolbox do
  #toolbox.hidden 
    = render :partial => 'quizzes/controls'

    = render :partial => 'verticals/masterlist'
    = render :partial => 'topics/masterlist'

    = render :partial => 'teachers/assignquiz'
    = render :partial => 'teachers/buildquiz'
    = render :partial => 'teachers/disputed'
    = render :partial => 'teachers/queue_status'
    = render :partial => 'teachers/reportcards'
    = render :partial => 'teachers/sektions'
    = render :partial => 'teachers/typeset'

    = render :partial => 'toolbox/pdf_viewer'
    = render :partial => 'toolbox/edit_account'
    = render :partial => 'toolbox/document_preview'
    = render :partial => 'toolbox/inline_error'
    = render :partial => 'toolbox/swiss_knife'

    = render :partial => 'tasks/teacher/quiz_filter'
    = render :partial => 'toolbox/line'
    = render :partial => 'toolbox/preview'

    #flot-chart

!!!5

%html{html_attrs}
  %head 
    = javascript_include_tag "application", "teachers"
    = stylesheet_link_tag "application" 
    = csrf_meta_tag

  %body 

    .container-fluid 
      #control-panel.g-panel.row-fluid{ :marker => "#{tchr.id}" } 
        .span12
          .navbar.navbar-inverse
            .navbar-inner
              %a.brand.span4{ :href => "#"}= "Gradians.com"
              %ul.nav.span8.pull-right
                -# dropdown -> Quiz -> [ new, edit, save ]
                %li.dropdown
                  %a.dropdown-toggle{ :href => "#", "data-toggle" => :dropdown,
                  :menu => '#teacher-quiz', :fixed => :true }
                    Quizzes & Questions
                    %span.caret
                  = render :partial => 'tasks/teacher/quiz_main', :locals => { :teacher => tchr, :server => srvr }
                %li.dropdown
                  %a.dropdown-toggle{ :href => "#", "data-toggle" => :dropdown }
                    Report Cards
                    %b.caret
                -# Central place for editing user login details 
                %li#cp-account-link.dropdown.pull-right
                  %a.dropdown-toggle#account-ops{ :href => '#', 'data-toggle' => :dropdown, 
                  :menu => '#tasks-on-account', :fixed => :true }
                    Hello, #{tchr.first_name}
                    %span.caret
                  = render :partial => 'tasks/user/account'
      #desktop.row-fluid
        #lp.g-panel.span4
          #lp-quiz-lst
            = render :partial => 'teachers/quiz-lst'
          #lp-sektion-lst
          #lp-student-lst
        #wp.g-panel.span8

    = yield :toolbox
    -#= render :partial => 'accounts/update'
