
-# Customized markers 
- tc = current_account.loggable
- server = "#{Gutenberg['server']}"

-content_for :toolbox do
  #toolbox.hidden 
    = render :partial => 'teachers/disputed'
    = render :partial => 'teachers/sektions'

    = render :partial => 'toolbox/line'
    = render :partial => 'toolbox/preview'

    = render :partial => 'menus/teacher/per-qz'
    = render :partial => 'menus/teacher/per-ws'
    = render :partial => 'menus/teacher/qz-main', :locals => { :teacher => tc, :server => server }
    = render :partial => 'menus/teacher/workbench', :locals => { :server => server }
    = render :partial => 'menus/teacher/rc' 
    = render :partial => 'menus/teacher/howto' 

    = render :partial => 'menus/user/account'
    = render :partial => 'menus/user/notifications'
    = render :partial => 'toolbox/fdb-panel'

- content_for :modals do
  = render :partial => 'modals/user/account'
  = render :partial => 'modals/teacher/suggestion'

- content_for :tutorials do 
  #tutorials
    - ['one', 'two', 'three', 'four', 'five', 'six', 'seven'].each do |m|
      = render :partial => "tutorials/teacher/qzb/#{m}"
    - ['one', 'two', 'three'].each do |m|
      = render :partial => "tutorials/teacher/wsb/#{m}"
    - ['one', 'two', 'three', 'four', 'five', 'six'].each do |m|
      = render :partial => "tutorials/teacher/editqz/#{m}"
    - ['one', 'two'].each do |m|
      = render :partial => "tutorials/teacher/publish-ws/#{m}"
    - ['one', 'two', 'three', 'four'].each do |m|
      = render :partial => "tutorials/teacher/mng-sektions/#{m}"
    - ['one'].each do |m|
      = render :partial => "tutorials/teacher/welcome/#{m}"

!!!5

%html{html_attrs}
  %head 
    = javascript_include_tag "application", "teachers"
    %script{ :type => "text/x-mathjax-config" } 
      MathJax.Hub.Config({
      "HTML-CSS" : {
      mtextFontInherit : true
      },
      styles : {
      ".mrow > .mtext" : {
      "font-family" : "Ubuntu 'Trebuchet MS' sans-serif",
      "font-weight" : 400,
      "font-size" : "14px",
      "text-transform" : "lowercase"
      }
      }
      });
    = javascript_include_tag "http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"
    = javascript_include_tag "http://d3js.org/d3.v3.min.js"
    = stylesheet_link_tag "application"
    = csrf_meta_tag

  %body 
    #spinner.spinner
      = image_tag "loading.gif", :id => 'img-spinner'
    .container-fluid 
      #control-panel.g-panel.row-fluid{ :marker => "#{tc.id}" } 
        .span12
          .navbar.navbar-inverse
            .navbar-inner
              %a.brand.span3{ :href => "#"}
                = image_tag "logo-mit-beta-2.png"
                .tagline.span10.offset1= "Grades will happen"
              %ul.nav.span8.pull-right
                -# dropdown -> Quiz -> [ new, edit, save ]
                %li.dropdown
                  = simple_link :for => "Quizzes", :as => :dropdown, :id => 'm-teacher-quizzes'
                %li.dropdown
                  = simple_link :for => "Report Cards", :as => :dropdown, :id => 'm-report-cards'
                %li.dropdown
                  = simple_link :for => "Tools", :as => :dropdown, :id => 'm-teacher-workbench'
                %li.dropdown
                  = simple_link :for => "Help", :as => :dropdown, :id => 'm-howto'
                %li.dropdown
                  = simple_link :as => :dropdown, 
                    :id => 'm-notifications', :icon => "icon-white icon-bell"
                %li#cp-account-link.dropdown
                  = simple_link :for => "Hello, #{tc.first_name}", :as => :dropdown, :id => 'm-account'
      #desktop.row-fluid
        #left.g-panel.span4
          = render :partial => 'toolbox/paginator', :locals => { :id => 'left-paginator', :url => '#' }
          #left-1
            = render :partial => 'teachers/wsb', :locals => { :teacher => tc }
          #left-2
            = render :partial => 'teachers/qzb', :locals => { :teacher => tc }
          #left-3
          #left-4
            = render :partial => 'toolbox/grd-pending'
          #left-5
            = render :partial => 'teachers/rc'
          #left-6
            = render :partial => 'teachers/deepdive', :locals => { :teacher => tc }
          #left-7
            = render :partial => 'teachers/edit-qz'
          #left-8
            = render :partial => 'teachers/sektions'
        #middle.g-panel.span4
          = render :partial => 'toolbox/paginator', :locals => { :id => 'middle-paginator', :url => '#' }
          #middle-1
            = render :partial => 'teachers/edit-sektion', :locals => { :teacher => tc }
          #middle-X
        #right.g-panel.span4
          = render :partial => 'toolbox/paginator', :locals => { :id => 'right-paginator', :url => '#' }
          #right-X
        #wide.g-panel.span8
          #wide-X
          #wide-wait
            = render :partial => 'toolbox/wait'
          #wide-chart-1.offset1
          #wide-chart-2.offset1
          #wide-chart-3.offset1
          #wide-grd-canvas
            .row-fluid
              = render :partial => 'toolbox/grd-toolbar'
            .row-fluid
              .span1
                = render :partial => 'toolbox/grd-toolbar-btns'
              .span11
                %canvas#grading-canvas{ :width => 600, :height => 800 }

    = yield :toolbox
    = yield :modals
    = yield :tutorials
