
- content_for :toolbox do 
  #toolbox.hidden 
    = render :partial => 'quizzes/controls'

    = render :partial => 'verticals/masterlist'
    = render :partial => 'topics/masterlist'

    = render :partial => 'teachers/assignquiz'
    = render :partial => 'teachers/buildquiz'
    = render :partial => 'teachers/disputed'
    = render :partial => 'teachers/queue_status'
    = render :partial => 'teachers/reportcards'
    = render :partial => 'teachers/sektions'
    = render :partial => 'teachers/typeset'

    = render :partial => 'toolbox/pdf_viewer'
    = render :partial => 'toolbox/edit_account'
    = render :partial => 'toolbox/document_preview'
    = render :partial => 'toolbox/inline_error'
    = render :partial => 'toolbox/swiss_knife'

    #flot-chart

!!!5

%html{html_attrs}
  %head 
    = javascript_include_tag "application", "teachers"
    = stylesheet_link_tag "application" 
    = csrf_meta_tag

  %body 
    -# Customized markers 
    - teacher = current_account.loggable
    - server = "#{Gutenberg['server']}"

    .container-fluid 
      #control-panel.row-fluid{ :marker => "#{teacher.id}" } 
        .span12
          .navbar.navbar-inverse
            .navbar-inner
              %a.brand.span4{ :href => "#"}= "Gradians.com"
              %ul.nav.span8.pull-right
                -# dropdown -> Quiz -> [ new, edit, save ]
                %li.dropdown
                  %a.dropdown-toggle{ :href => "#", "data-toggle" => :dropdown }
                    Quizzes & Questions
                    %b.caret
                  %ul.dropdown-menu.dropdown-inverse.pull-right
                    %li.nav-header= "quiz"
                    %li
                      = minor_link :for => 'new-quiz', :as => 'new quiz'
                    %li.divider
                    %li.nav-header= "Suggest Questions"
                    %li
                      = minor_link :for => 'suggestion', :as => 'Using the suggestion form', 
                      :href => "#{server}/front-desk/teachers/#{teacher.school_id}-#{teacher.id}/petty-cash/#{teacher.id}-#{teacher.first_name}.pdf"
                    %li
                      %a{ :href => "#"}= "Uploading a Word document"
                    %li
                %li.dropdown
                  %a.dropdown-toggle{ :href => "#", "data-toggle" => :dropdown }
                    Report Cards
                    %b.caret
                -# Central place for editing user login details 
                %li.pull-right
                  .btn-group
                    %a.btn.dropdown-toggle#account-ops{ :href => '#', 'data-toggle' => :dropdown }
                      Hello, #{teacher.first_name} !
                      %span.caret
                    %ul.dropdown-menu
                      %li
                        %a#logout-link{ :href => logout_path}= "Logout"
                      %li
                        %a#edit-login-info{ :href => '#edit-passwd', 'data-toggle' => :modal }= "Change Password"
                      %li
                        %a#edit-login-info{ :href => '#edit-email', 'data-toggle' => :modal }= "Provide Email"
      .row-fluid
        #side-panel.span4
        #wide-panel.span8

    = yield :toolbox
    -#= render :partial => 'accounts/update'
  -#
    #visible-active-area
      #control-panel.panel.horizontal{ :marker => default_marker } 
        #main-links 
          = render :partial => 'teachers/control-panel'
        -# Links required in the currently loaded context
        #minor-links
      #side-panel.panel.left.slim
      #middle-panel.panel.slim.left
      #right-panel.panel.slim.left
      #wide-panel.panel.wide.left

