
- content_for :toolbox do 
  #toolbox.hidden 
    = render :partial => 'quizzes/controls'

    = render :partial => 'verticals/masterlist'
    = render :partial => 'topics/masterlist'

    = render :partial => 'sektions/enrolled'

    = render :partial => 'teachers/roster'
    = render :partial => 'teachers/assignquiz'
    = render :partial => 'teachers/buildquiz'
    = render :partial => 'teachers/queue_status'

    = render :partial => 'toolbox/document_preview'
    = render :partial => 'toolbox/edit_account'
    = render :partial => 'toolbox/inline_error'
    = render :partial => 'toolbox/katana'
    = render :partial => 'toolbox/nail_file'
    = render :partial => 'toolbox/swiss_knife'

    = render :partial => 'yardsticks/list'

!!!5

%html{html_attrs}
  %head 
    = javascript_include_tag "application", "teachers"
    = stylesheet_link_tag "application" 
    = csrf_meta_tag

  %body 
    - default_marker = "#{current_account.nil? ? :tbd : current_account.loggable_id}"
    #visible-active-area
      #control-panel.panel.horizontal{ :marker => default_marker } 
        #main-links 
          = render :partial => 'teachers/control-panel'
        -# Links required in the currently loaded context
        #minor-links
      #side-panel.panel.left.slim
      #middle-panel.panel.slim.left
      #right-panel.panel.slim.left
      #wide-panel.panel.wide.left

    = yield :toolbox
