
-# Customized markers 
- tchr = current_account.loggable
- server = "#{Gutenberg['server']}"

-content_for :toolbox do
  #toolbox.hidden 
    = render :partial => 'teachers/disputed'
    = render :partial => 'teachers/sektions'

    = render :partial => 'toolbox/line'
    = render :partial => 'toolbox/preview'

    = render :partial => 'menus/teacher/quiz_filter'
    = render :partial => 'menus/teacher/per-quiz'
    = render :partial => 'menus/teacher/per-ws'
    = render :partial => 'menus/teacher/quiz_main', :locals => { :teacher => tchr, :server => server }
    = render :partial => 'menus/teacher/workbench'
    = render :partial => 'menus/teacher/trapdoors' 
    = render :partial => 'menus/teacher/rc' 
    = render :partial => 'menus/teacher/howto' 

    = render :partial => 'menus/user/account'
    = render :partial => 'menus/user/notifications'
    = render :partial => 'toolbox/fdb-panel'

- content_for :modals do
  = render :partial => 'modals/user/account'


!!!5

%html{html_attrs}
  %head 
    = javascript_include_tag "application", "teachers"
    = javascript_include_tag "http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"
    = stylesheet_link_tag "application" 
    = csrf_meta_tag

  %body 

    .container-fluid 
      #control-panel.g-panel.row-fluid{ :marker => "#{tchr.id}" } 
        .span12
          .navbar.navbar-inverse
            .navbar-inner
              %a.brand.span3{ :href => "#"}
                = image_tag "logo-mit-beta-2.png"
                .tagline.span10.offset1= "Grades will happen"
              %ul.nav.span8
                -# dropdown -> Quiz -> [ new, edit, save ]
                %li.dropdown
                  = simple_link :for => "Quizzes & Questions", :as => :dropdown, :id => 'm-teacher-quizzes'
                %li.dropdown
                  = simple_link :for => "Report Cards", :as => :dropdown, :id => 'm-report-cards'
                %li.dropdown
                  = simple_link :for => "Workbench", :as => :dropdown, :id => 'm-teacher-workbench'
                %li.dropdown
                  = simple_link :for => "Help", :as => :dropdown, :id => 'm-howto'
                %li.dropdown
                  = simple_link :as => :dropdown, 
                    :id => 'm-notifications', :icon => "icon-white icon-bell"
                %li#cp-account-link.dropdown
                  = simple_link :for => "Hello, #{tchr.first_name}", :as => :dropdown, :id => 'm-account'
      #desktop.row-fluid
        #left.g-panel.span4
          = render :partial => 'toolbox/paginator', :locals => { :id => 'left-paginator', :url => '#' }
          #left-1
            = render :partial => 'teachers/wsb', :locals => { :teacher => tchr }
          #left-2
            = render :partial => 'teachers/qzb', :locals => { :teacher => tchr }
          #left-3
          #left-4
            = render :partial => 'toolbox/grd-pending'
          #left-5
            = render :partial => 'teachers/rc', :locals => { :teacher => tchr }
        #middle.g-panel.span4
          = render :partial => 'toolbox/paginator', :locals => { :id => 'middle-paginator', :url => '#' }
          #middle-X
        #right.g-panel.span4
          = render :partial => 'toolbox/paginator', :locals => { :id => 'right-paginator', :url => '#' }
          #right-X
        #wide.g-panel.span8
          #wide-X
          #wide-wait
            = render :partial => 'toolbox/wait'
          #graph-paper.offset1
          #wide-grd-canvas
            .row-fluid
              = render :partial => 'toolbox/grd-toolbar'
            .row-fluid
              .span1
                = render :partial => 'toolbox/grd-toolbar-btns'
              .span11
                %canvas#grading-canvas{ :width => 600, :height => 800 }

    = yield :toolbox
    = yield :modals
