
#potd.row-fluid.hero-unit
  .row-fluid
    .span6 
      .row-fluid
        .span3
          = image_tag 'landing/puzzle-27479.png', size: '40x40', class: :blue 
          #puzzle-stopwatch.push-down
            .small-text
              %i.icon-time.icon-white
              Submit in
            .stopwatch{ id: 'puzzle-expiry' }
        .span8
          .title.orange= 'Problem of the Day'
          #pzl-daily
    .span6
      .row-fluid
        .span3
          = image_tag 'landing/grader-14894.png', size: '40x40', class: :blue 
        .span6
          .title.orange= 'Wanna get it checked?'
          %p 
            Give the problem a shot and send your solution over. We would be happy 
            to give it a look.
          - if current_account.nil?
            %p
              %span.orange= 'Register first' 
              so that we know who you are. 
          - unless current_account.nil?
            %p
              %span.orange= 'You will need our mobile app.'
          %p
            Then, solve the problem on paper and use our mobile app to take a 
            snap of your solution and upload it. Its that simple!
  .row-fluid{ id: 'next-steps' }
    - if current_account.nil?
      .span2.offset2
        %a{ id: 'a-register', data: { 'no-touch' => :true }, href: '#' }
          = image_tag 'landing/backpack.png', size: '30x30'
          Register
      .span3
        %a{ id: 'a-register', href: 'https://play.google.com/store/apps/details?id=com.gradians.collect&hl=en', target: '_blank' }
          = image_tag 'scanbot-trans.png', size: '25x25'
          Download Mobile App
      .span2
        %a{ id: 'a-founders'}
          = image_tag 'landing/group-3359.png', size: '30x30'
          About Us

    - unless current_account.nil?
      .span3.offset3
        %a{ id: 'a-register', href: 'https://play.google.com/store/apps/details?id=com.gradians.collect&hl=en', 
        target: '_blank', data: { 'no-touch' => :true  } }
          = image_tag 'scanbot-trans.png', size: '25x25'
          Download Mobile App
      .span2
        %a{ id: 'a-founders', data: {'no-touch' => :true } }
          = image_tag 'landing/group-3359.png', size: '30x30'
          About Us

